charger-api-updated.json
[
    {
        "id": "497c6b46609495bc",
        "type": "group",
        "z": "36a0dda1da5381c1",
        "name": "Charger API",
        "style": {
            "label": true
        },
        "nodes": [
            "7c83850d1c814b23",
            "fbfc0d757754f4c5",
            "571104d483e03b85",
            "176a439e43d21d6d",
            "4d588f7ec5e51329",
            "adf22a848c2c2e09",
            "5d3fd6e2aaf39829",
            "42ec6a234e5b250d",
            "80c33e7afaee863f",
            "18d5bd7dfb2588fc",
            "39aafb1b77948173",
            "b1b36ff5397755ce",
            "9f0176c4a1c200cc",
            "d060151dca62a064",
            "5d70e86709b5e0c3",
            "690c8898c13e33af"
        ],
        "x": 14,
        "y": 519,
        "w": 1212,
        "h": 482
    },
    {
        "id": "7c83850d1c814b23",
        "type": "http in",
        "z": "36a0dda1da5381c1",
        "g": "497c6b46609495bc",
        "name": "GET /api/v4/charger",
        "url": "/api/v4/charger",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 560,
        "wires": [
            [
                "fbfc0d757754f4c5"
            ]
        ]
    },
    {
        "id": "fbfc0d757754f4c5",
        "type": "function",
        "z": "36a0dda1da5381c1",
        "g": "497c6b46609495bc",
        "name": "Query Chargers",
        "func": "const id = msg.req.query.id;\nconst chargerID = msg.req.query.chargerID || msg.req.query.charger_id;\nconst locationId = msg.req.query.locationId || msg.req.query.location_id;\nconst status = msg.req.query.status;\n\nconst allowedStatus = [\"online\", \"offline\"];\nconst conditions = [];\n\nif (id !== undefined) {\n    msg.topic = `SELECT charger_id AS id, name, chargerID, ocpi_last_update AS time, status, type, location_id AS locationId, max_session_time, num_connectors, description FROM ocpp_CSGO.Chargers WHERE charger_id = ?`;\n    msg.payload = [id];\n    msg.operation = 'GET';\n    return msg;\n}\n\nif (chargerID !== undefined) {\n    msg.topic = `SELECT charger_id AS id, name, chargerID, ocpi_last_update AS time, status, type, location_id AS locationId, max_session_time, num_connectors, description FROM ocpp_CSGO.Chargers WHERE chargerID = ?`;\n    msg.payload = [chargerID];\n    msg.operation = 'GET';\n    return msg;\n}\n\nif (status) {\n    if (!allowedStatus.includes(status)) {\n        msg.statusCode = 400;\n        msg.payload = { success: false, message: \"Invalid status value. Allowed: online, offline\" };\n        return null;\n    }\n    conditions.push(`c.status = '${status}'`);\n}\n\nif (locationId) {\n    conditions.push(`c.location_id = '${locationId}'`);\n}\n\nlet whereClause = conditions.length > 0 ? `WHERE ${conditions.join(' AND ')}` : '';\n\nmsg.topic = `SELECT c.charger_id AS id, c.name, c.chargerID, c.ocpi_last_update AS time, c.status, c.type, c.location_id AS locationId, c.max_session_time, c.num_connectors, c.description FROM ocpp_CSGO.Chargers c ${whereClause} ORDER BY c.ocpi_last_update DESC`;\nmsg.payload = [];\nmsg.operation = 'GET';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 560,
        "wires": [
            [
                "5d3fd6e2aaf39829"
            ]
        ]
    },
    {
        "id": "571104d483e03b85",
        "type": "function",
        "z": "36a0dda1da5381c1",
        "g": "497c6b46609495bc",
        "name": "Format Response",
        "func": "if (msg.operation !== 'GET') {\n    return null;\n}\n\nif (msg.error) {\n    msg.statusCode = 500;\n    msg.payload = { success: false, message: \"Internal Server Error\", details: msg.error.message };\n    return msg;\n}\n\nif (!msg.payload || msg.payload.length === 0) {\n    const id = msg.req.query.id || msg.req.query.chargerID || msg.req.query.charger_id;\n    if (id !== undefined) {\n        msg.statusCode = 404;\n        msg.payload = { success: false, message: \"Charger not found\" };\n        return msg;\n    }\n    msg.statusCode = 204;\n    msg.payload = [];\n    return msg;\n}\n\nconst id = msg.req.query.id || msg.req.query.chargerID || msg.req.query.charger_id;\nif (id !== undefined) {\n    msg.statusCode = 200;\n    msg.payload = { success: true, data: msg.payload[0] };\n} else {\n    msg.statusCode = 200;\n    msg.payload = { success: true, count: msg.payload.length, data: msg.payload };\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 560,
        "wires": [
            [
                "176a439e43d21d6d"
            ]
        ]
    },
    {
        "id": "176a439e43d21d6d",
        "type": "http response",
        "z": "36a0dda1da5381c1",
        "g": "497c6b46609495bc",
        "name": "",
        "statusCode": "",
        "headers": {
            "Content-Type": "application/json",
            "Access-Control-Allow-Origin": "*",
            "Access-Control-Allow-Methods": "GET, POST, PUT, DELETE, OPTIONS",
            "Access-Control-Allow-Headers": "Content-Type, Authorization"
        },
        "x": 1150,
        "y": 560,
        "wires": []
    },
    {
        "id": "4d588f7ec5e51329",
        "type": "http in",
        "z": "36a0dda1da5381c1",
        "g": "497c6b46609495bc",
        "name": "POST /api/v4/charger",
        "url": "/api/v4/charger",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 660,
        "wires": [
            [
                "adf22a848c2c2e09"
            ]
        ]
    },
    {
        "id": "adf22a848c2c2e09",
        "type": "function",
        "z": "36a0dda1da5381c1",
        "g": "497c6b46609495bc",
        "name": "Validate Create",
        "func": "const d = msg.payload || {};\nif (!d.name || !d.type || !d.status) {\n    msg.statusCode = 400;\n    msg.payload = { success: false, message: \"Missing required fields: name, type, status\" };\n    return null;\n}\n\nmsg.topic = `INSERT INTO ocpp_CSGO.Chargers (name, type, status, location_id, max_session_time, num_connectors, description) VALUES (?, ?, ?, ?, ?, ?, ?)`;\nmsg.payload = [d.name, d.type, d.status, d.location_id || d.locationId || null, d.max_session_time || d.maxSessionTime || null, d.num_connectors || d.numConnectors || null, d.description || null];\nmsg.operation = 'POST';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 660,
        "wires": [
            [
                "5d3fd6e2aaf39829"
            ]
        ]
    },
    {
        "id": "5d3fd6e2aaf39829",
        "type": "mysql",
        "z": "36a0dda1da5381c1",
        "g": "497c6b46609495bc",
        "mydb": "447e5a426e1038b0",
        "name": "",
        "x": 630,
        "y": 660,
        "wires": [
            [
                "571104d483e03b85",
                "42ec6a234e5b250d",
                "39aafb1b77948173",
                "d060151dca62a064"
            ]
        ]
    },
    {
        "id": "42ec6a234e5b250d",
        "type": "function",
        "z": "36a0dda1da5381c1",
        "g": "497c6b46609495bc",
        "name": "Format POST Response",
        "func": "// Only process POST operations\nif (msg.operation !== 'POST') {\n    return null;\n}\n\nif (msg.error) {\n    msg.statusCode = 500;\n    msg.payload = { success: false, message: \"Internal Server Error\", details: msg.error.message };\n    return msg;\n}\n\nmsg.statusCode = 201;\nmsg.payload = { success: true, message: \"Charger created successfully\", insertId: msg.payload.insertId };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 660,
        "wires": [
            [
                "176a439e43d21d6d"
            ]
        ]
    },
    {
        "id": "80c33e7afaee863f",
        "type": "http in",
        "z": "36a0dda1da5381c1",
        "g": "497c6b46609495bc",
        "name": "PUT /api/v4/charger",
        "url": "/api/v4/charger",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 760,
        "wires": [
            [
                "18d5bd7dfb2588fc"
            ]
        ]
    },
    {
        "id": "18d5bd7dfb2588fc",
        "type": "function",
        "z": "36a0dda1da5381c1",
        "g": "497c6b46609495bc",
        "name": "Validate Update",
        "func": "const id = msg.req.query.id || msg.req.query.chargerID || msg.req.query.charger_id;\nif (!id) {\n    msg.statusCode = 400;\n    msg.payload = { success: false, message: \"Charger ID is required (use ?id={id} or ?chargerID={id} or ?charger_id={id})\" };\n    return null;\n}\n\nconst d = msg.payload || {};\nif (!d.name || !d.type || !d.status) {\n    msg.statusCode = 400;\n    msg.payload = { success: false, message: \"Missing required fields: name, type, status\" };\n    return null;\n}\n\n// Determine which field to use for WHERE clause\nlet whereField = 'charger_id';\nif (msg.req.query.chargerID || msg.req.query.charger_id) {\n    whereField = 'chargerID';\n}\n\nmsg.topic = `UPDATE ocpp_CSGO.Chargers SET name=?, type=?, status=?, location_id=?, max_session_time=?, num_connectors=?, description=? WHERE ${whereField}=?`;\nmsg.payload = [d.name, d.type, d.status, d.location_id || d.locationId || null, d.max_session_time || d.maxSessionTime || null, d.num_connectors || d.numConnectors || null, d.description || null, id];\nmsg.operation = 'PUT';\nmsg.chargerId = id;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 760,
        "wires": [
            [
                "5d3fd6e2aaf39829"
            ]
        ]
    },
    {
        "id": "39aafb1b77948173",
        "type": "function",
        "z": "36a0dda1da5381c1",
        "g": "497c6b46609495bc",
        "name": "Format PUT Response",
        "func": "// Only process PUT operations\nif (msg.operation !== 'PUT') {\n    return null;\n}\n\nif (msg.error) {\n    msg.statusCode = 500;\n    msg.payload = { success: false, message: \"Internal Server Error\", details: msg.error.message };\n    return msg;\n}\n\nif (msg.payload.affectedRows === 0) {\n    msg.statusCode = 404;\n    msg.payload = { success: false, message: \"Charger not found\" };\n    return msg;\n}\n\nmsg.statusCode = 200;\nmsg.payload = { success: true, message: \"Charger updated successfully\" };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 760,
        "wires": [
            [
                "176a439e43d21d6d"
            ]
        ]
    },
    {
        "id": "b1b36ff5397755ce",
        "type": "http in",
        "z": "36a0dda1da5381c1",
        "g": "497c6b46609495bc",
        "name": "DELETE /api/v4/charger",
        "url": "/api/v4/charger",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 860,
        "wires": [
            [
                "9f0176c4a1c200cc"
            ]
        ]
    },
    {
        "id": "9f0176c4a1c200cc",
        "type": "function",
        "z": "36a0dda1da5381c1",
        "g": "497c6b46609495bc",
        "name": "Validate Delete",
        "func": "const id = msg.req.query.id || msg.req.query.chargerID || msg.req.query.charger_id;\nif (!id) {\n    msg.statusCode = 400;\n    msg.payload = { success: false, message: \"Charger ID is required (use ?id={id} or ?chargerID={id} or ?charger_id={id})\" };\n    return null;\n}\n\n// Determine which field to use for WHERE clause\nlet whereField = 'charger_id';\nif (msg.req.query.chargerID || msg.req.query.charger_id) {\n    whereField = 'chargerID';\n}\n\nmsg.topic = `SELECT COUNT(*) as count FROM ocpp_CSGO.Connectors WHERE charger_id = ?`;\nmsg.payload = [id];\nmsg.checkConnectors = true;\nmsg.operation = 'DELETE_CHECK';\nmsg.chargerId = id;\nmsg.whereField = whereField;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 860,
        "wires": [
            [
                "5d3fd6e2aaf39829"
            ]
        ]
    },
    {
        "id": "d060151dca62a064",
        "type": "function",
        "z": "36a0dda1da5381c1",
        "g": "497c6b46609495bc",
        "name": "Check and Delete",
        "func": "// Only process DELETE operations\nif (msg.operation !== 'DELETE' && msg.operation !== 'DELETE_CHECK') {\n    return null;\n}\n\nconst id = msg.chargerId || msg.req?.query?.id || msg.req?.query?.chargerID || msg.req?.query?.charger_id;\nconst whereField = msg.whereField || 'charger_id';\n\nif (msg.checkConnectors) {\n    const count = msg.payload && msg.payload[0] ? msg.payload[0].count : 0;\n    if (count > 0) {\n        msg.statusCode = 400;\n        msg.payload = { success: false, message: `Cannot delete charger. It has ${count} connector(s) associated with it.` };\n        return msg;\n    }\n    msg.topic = `DELETE FROM ocpp_CSGO.Chargers WHERE ${whereField} = ?`;\n    msg.payload = [id];\n    msg.checkConnectors = false;\n    msg.operation = 'DELETE';\n    msg.chargerId = id;\n    msg.whereField = whereField;\n    \n    // Send back to MySQL node via output 2\n    return [null, msg];\n}\n\nif (msg.error) {\n    msg.statusCode = 500;\n    msg.payload = { success: false, message: \"Internal Server Error\", details: msg.error.message };\n    return msg;\n}\n\nif (msg.payload.affectedRows === 0) {\n    msg.statusCode = 404;\n    msg.payload = { success: false, message: \"Charger not found\" };\n    return msg;\n}\n\nmsg.statusCode = 200;\nmsg.payload = { success: true, message: \"Charger deleted successfully\" };\nreturn msg;",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 860,
        "wires": [
            [
                "176a439e43d21d6d"
            ],
            [
                "5d3fd6e2aaf39829"
            ]
        ]
    },
    {
        "id": "5d70e86709b5e0c3",
        "type": "catch",
        "z": "36a0dda1da5381c1",
        "g": "497c6b46609495bc",
        "name": "Chargers Catch",
        "scope": [
            "7c83850d1c814b23",
            "4d588f7ec5e51329",
            "80c33e7afaee863f",
            "b1b36ff5397755ce"
        ],
        "uncaught": false,
        "x": 150,
        "y": 960,
        "wires": [
            [
                "690c8898c13e33af"
            ]
        ]
    },
    {
        "id": "690c8898c13e33af",
        "type": "function",
        "z": "36a0dda1da5381c1",
        "g": "497c6b46609495bc",
        "name": "Error Handler",
        "func": "msg.statusCode = 500;\nmsg.payload = { success: false, message: \"Internal Server Error\", details: msg.error ? msg.error.message : \"Unknown error\" };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 960,
        "wires": [
            [
                "176a439e43d21d6d"
            ]
        ]
    },
    {
        "id": "447e5a426e1038b0",
        "type": "MySQLdatabase",
        "name": "",
        "host": "ion-ocpp.cluster-c3o6qc26ias1.eu-west-1.rds.amazonaws.com",
        "port": "3306",
        "db": "ocpp_CSGO",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "350db3d86de01e84",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-mysql": "3.0.0"
        }
    }
]
