DASHBOARD_API_FLOW_FIXED_QUERY_PARAMS.json
[
  {
    "id": "tab-dashboard-api",
    "type": "tab",
    "label": "Dashboard API",
    "disabled": false,
    "info": "Query-Params only, safe SQL, 2 DBs, stats join (refactored: shared MySQL + shared formatter)"
  },

  {
    "id": "db-ocpp",
    "type": "MySQLdatabase",
    "name": "ocpp_CSGO (edit me)",
    "host": "YOUR_OCPP_HOST",
    "port": "3306",
    "db": "ocpp_CSGO",
    "tz": "",
    "charset": "UTF8"
  },
  {
    "id": "db-ion",
    "type": "MySQLdatabase",
    "name": "ion (edit me)",
    "host": "YOUR_ION_HOST",
    "port": "3306",
    "db": "ion",
    "tz": "",
    "charset": "UTF8"
  },

  {
    "id": "group-dashboard-api",
    "type": "group",
    "z": "tab-dashboard-api",
    "name": "Dashboard API",
    "style": { "label": true },
    "nodes": [
      "httpin-active-sessions",
      "fn-active-sessions",
      "httpin-local-sessions",
      "fn-local-sessions",
      "httpin-user-info",
      "fn-user-info",
      "httpin-user-sessions",
      "fn-user-sessions",
      "httpin-user-payments",
      "fn-user-payments",
      "httpin-stats",
      "fn-stats",
      "join-stats",
      "fn-prepare-stats",
      "httpin-charger-status",
      "fn-charger-status",
      "httpin-connector-status",
      "fn-connector-status",
      "httpin-charger-command",
      "fn-charger-command",
      "sql-ocpp-shared",
      "sw-route-ocpp",
      "sql-ion-shared",
      "sw-route-ion",
      "fn-xform-user-info",
      "fn-xform-charger-status",
      "fn-xform-connector-status",
      "fn-prepare-charger-command",
      "fn-format-response",
      "http-out-dashboard",
      "catch-dashboard",
      "fn-error-dashboard"
    ],
    "x": 14,
    "y": 59,
    "w": 1492,
    "h": 922
  },

  {
    "id": "http-out-dashboard",
    "type": "http response",
    "z": "tab-dashboard-api",
    "g": "group-dashboard-api",
    "name": "HTTP Response",
    "headers": {
      "Content-Type": "application/json",
      "Access-Control-Allow-Origin": "*",
      "Access-Control-Allow-Methods": "GET, POST, OPTIONS",
      "Access-Control-Allow-Headers": "Content-Type, Authorization"
    },
    "x": 1440,
    "y": 200,
    "wires": []
  },

  {
    "id": "fn-format-response",
    "type": "function",
    "z": "tab-dashboard-api",
    "g": "group-dashboard-api",
    "name": "Format Response",
    "func": "const q = (msg.req && msg.req.query) ? msg.req.query : {};\nconst wrap = String(q.wrap || '') === '1';\n\n// Error from node\nif (msg.error) {\n  msg.statusCode = 500;\n  msg.payload = { success: false, message: msg.error.message };\n  return msg;\n}\n\n// Respect pre-set non-200 responses (validation/custom)\nif (typeof msg.statusCode === 'number' && msg.statusCode !== 200 && msg.payload !== undefined) {\n  return msg;\n}\n\n// Allow custom payloads (already final shape)\nif (msg.skipAutoWrap) {\n  msg.statusCode = msg.statusCode || 200;\n  return msg;\n}\n\nmsg.statusCode = msg.statusCode || 200;\n\n// wrap!=1 => preserve original payload (rows/row/custom object)\nif (!wrap) return msg;\n\nconst payload = msg.payload;\n\n// rows array\nif (Array.isArray(payload)) {\n  msg.payload = { success: true, count: payload.length, data: payload };\n  return msg;\n}\n\n// single row (object or null)\nmsg.payload = { success: payload != null, data: (payload == null ? null : payload) };\nreturn msg;",
    "outputs": 1,
    "x": 1200,
    "y": 200,
    "wires": [["http-out-dashboard"]]
  },

  {
    "id": "sql-ocpp-shared",
    "type": "mysql",
    "z": "tab-dashboard-api",
    "g": "group-dashboard-api",
    "mydb": "db-ocpp",
    "name": "MySQL OCPP (shared)",
    "x": 820,
    "y": 120,
    "wires": [["sw-route-ocpp"]]
  },
  {
    "id": "sw-route-ocpp",
    "type": "switch",
    "z": "tab-dashboard-api",
    "g": "group-dashboard-api",
    "name": "Route OCPP Results",
    "property": "operation",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "STATS", "vt": "str" },
      { "t": "eq", "v": "CHARGER_STATUS", "vt": "str" },
      { "t": "eq", "v": "CONNECTOR_STATUS", "vt": "str" },
      { "t": "eq", "v": "CHARGER_COMMAND", "vt": "str" },
      { "t": "else" }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 5,
    "x": 1040,
    "y": 120,
    "wires": [
      ["join-stats"],
      ["fn-xform-charger-status"],
      ["fn-xform-connector-status"],
      ["fn-prepare-charger-command"],
      ["fn-format-response"]
    ]
  },

  {
    "id": "sql-ion-shared",
    "type": "mysql",
    "z": "tab-dashboard-api",
    "g": "group-dashboard-api",
    "mydb": "db-ion",
    "name": "MySQL ION (shared)",
    "x": 820,
    "y": 280,
    "wires": [["sw-route-ion"]]
  },
  {
    "id": "sw-route-ion",
    "type": "switch",
    "z": "tab-dashboard-api",
    "g": "group-dashboard-api",
    "name": "Route ION Results",
    "property": "operation",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "STATS", "vt": "str" },
      { "t": "eq", "v": "USER_INFO", "vt": "str" },
      { "t": "else" }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 1040,
    "y": 280,
    "wires": [["join-stats"], ["fn-xform-user-info"], ["fn-format-response"]]
  },

  {
    "id": "fn-xform-user-info",
    "type": "function",
    "z": "tab-dashboard-api",
    "g": "group-dashboard-api",
    "name": "Transform - User Info Row",
    "func": "const row = (Array.isArray(msg.payload) && msg.payload[0]) ? msg.payload[0] : null;\nmsg.payload = row;\nreturn msg;",
    "outputs": 1,
    "x": 1260,
    "y": 280,
    "wires": [["fn-format-response"]]
  },
  {
    "id": "fn-xform-charger-status",
    "type": "function",
    "z": "tab-dashboard-api",
    "g": "group-dashboard-api",
    "name": "Transform - Charger Status",
    "func": "const row = (Array.isArray(msg.payload) && msg.payload[0]) ? msg.payload[0] : {};\nmsg.payload = { status: row.status || '' };\nreturn msg;",
    "outputs": 1,
    "x": 1260,
    "y": 560,
    "wires": [["fn-format-response"]]
  },
  {
    "id": "fn-xform-connector-status",
    "type": "function",
    "z": "tab-dashboard-api",
    "g": "group-dashboard-api",
    "name": "Transform - Connector Status",
    "func": "const row = (Array.isArray(msg.payload) && msg.payload[0]) ? msg.payload[0] : {};\nmsg.payload = { status: row.status || '' };\nreturn msg;",
    "outputs": 1,
    "x": 1260,
    "y": 620,
    "wires": [["fn-format-response"]]
  },
  {
    "id": "fn-prepare-charger-command",
    "type": "function",
    "z": "tab-dashboard-api",
    "g": "group-dashboard-api",
    "name": "Prepare - Charger Command Response",
    "func": "msg.statusCode = 200;\nmsg.payload = { success: true, message: 'Command logged successfully' };\nmsg.skipAutoWrap = true;\nreturn msg;",
    "outputs": 1,
    "x": 1280,
    "y": 680,
    "wires": [["fn-format-response"]]
  },

  {
    "id": "catch-dashboard",
    "type": "catch",
    "z": "tab-dashboard-api",
    "g": "group-dashboard-api",
    "name": "Dashboard Catch",
    "scope": ["sql-ocpp-shared", "sql-ion-shared", "join-stats"],
    "uncaught": false,
    "x": 300,
    "y": 940,
    "wires": [["fn-error-dashboard"]]
  },
  {
    "id": "fn-error-dashboard",
    "type": "function",
    "z": "tab-dashboard-api",
    "g": "group-dashboard-api",
    "name": "Error Handler",
    "func": "msg.statusCode = 500;\nmsg.payload = { success:false, message:\"Internal Server Error\", details: (msg.error && msg.error.message) ? msg.error.message : \"Unknown\" };\nreturn msg;",
    "outputs": 1,
    "x": 600,
    "y": 940,
    "wires": [["http-out-dashboard"]]
  },

  {
    "id": "httpin-active-sessions",
    "type": "http in",
    "z": "tab-dashboard-api",
    "g": "group-dashboard-api",
    "name": "GET /api/v4/dashboard/active-sessions",
    "url": "/api/v4/dashboard/active-sessions",
    "method": "get",
    "x": 200,
    "y": 100,
    "wires": [["fn-active-sessions"]]
  },
  {
    "id": "fn-active-sessions",
    "type": "function",
    "z": "tab-dashboard-api",
    "g": "group-dashboard-api",
    "name": "Build SQL - Active Sessions (Query Params)",
    "func": "const q = (msg.req && msg.req.query) ? msg.req.query : {};\nconst from = q.from;\nconst limit = q.limit ? Math.max(1, Math.min(100, Number(q.limit))) : 100;\n\nlet sql = `SELECT\n  Sessions.start_date AS \"Start Date/Time\",\n  Sessions.session_id AS \"Session ID\",\n  Locations.name AS \"Location\",\n  Chargers.name AS \"Charger\",\n  Connectors.connector_type AS \"Connector\",\n  ROUND(Sessions.kwh,2) AS \"Energy (KWH)\",\n  ROUND(Sessions.amount,2) AS \"Amount (JOD)\",\n  Sessions.user_id AS \"mobile\"\nFROM Sessions\nRIGHT JOIN Connectors ON Connectors.connector_id = Sessions.connector_id\nRIGHT JOIN Chargers ON Chargers.charger_id = Sessions.charger_id\nRIGHT JOIN Locations ON Locations.location_id = Chargers.location_id\nWHERE Sessions.active=1`;\n\nmsg.payload = [];\nif (from) { sql += ` AND Sessions.start_date > ?`; msg.payload.push(from); }\nsql += ` GROUP BY Sessions.session_id ORDER BY Sessions.session_id DESC LIMIT ?;`;\nmsg.payload.push(limit);\nmsg.topic = sql;\nmsg.operation = 'ACTIVE_SESSIONS';\nreturn msg;",
    "outputs": 1,
    "x": 560,
    "y": 100,
    "wires": [["sql-ocpp-shared"]]
  },

  {
    "id": "httpin-local-sessions",
    "type": "http in",
    "z": "tab-dashboard-api",
    "g": "group-dashboard-api",
    "name": "GET /api/v4/dashboard/local-sessions",
    "url": "/api/v4/dashboard/local-sessions",
    "method": "get",
    "x": 200,
    "y": 160,
    "wires": [["fn-local-sessions"]]
  },
  {
    "id": "fn-local-sessions",
    "type": "function",
    "z": "tab-dashboard-api",
    "g": "group-dashboard-api",
    "name": "Build SQL - Local Sessions (Query Params)",
    "func": "const q = (msg.req && msg.req.query) ? msg.req.query : {};\nconst from = q.from;\nconst limit = q.limit ? Math.max(1, Math.min(100, Number(q.limit))) : 100;\n\nlet sql = `SELECT\n  Sessions_local.start_date AS \"Start Date/Time\",\n  Locations.name AS \"Location\",\n  Chargers.name AS \"Charger\",\n  Connectors.connector_type AS \"Connector\",\n  ROUND(Sessions_local.total_kwh,2) AS \"Energy (KWH)\",\n  ROUND(Sessions_local.total_amount,2) AS \"Amount (JOD)\",\n  Sessions_local.user_id AS \"User ID\"\nFROM Sessions_local\nRIGHT JOIN Connectors ON Sessions_local.connector_id = Connectors.connector_id\nRIGHT JOIN Chargers ON Chargers.charger_id = Sessions_local.charger_id\nRIGHT JOIN Locations ON Locations.location_id = Chargers.location_id\nWHERE Sessions_local.active=1`;\n\nmsg.payload = [];\nif (from) { sql += ` AND Sessions_local.start_date > ?`; msg.payload.push(from); }\nsql += ` GROUP BY Sessions_local.session_id ORDER BY Sessions_local.session_id DESC LIMIT ?;`;\nmsg.payload.push(limit);\nmsg.topic = sql;\nmsg.operation = 'LOCAL_SESSIONS';\nreturn msg;",
    "outputs": 1,
    "x": 560,
    "y": 160,
    "wires": [["sql-ocpp-shared"]]
  },

  {
    "id": "httpin-user-info",
    "type": "http in",
    "z": "tab-dashboard-api",
    "g": "group-dashboard-api",
    "name": "GET /api/v4/dashboard/user-info",
    "url": "/api/v4/dashboard/user-info",
    "method": "get",
    "x": 200,
    "y": 240,
    "wires": [["fn-user-info"]]
  },
  {
    "id": "fn-user-info",
    "type": "function",
    "z": "tab-dashboard-api",
    "g": "group-dashboard-api",
    "name": "Build SQL - User Info (Query Params)",
    "func": "const q = (msg.req && msg.req.query) ? msg.req.query : {};\nconst mobile = q.mobile;\nif (!mobile || String(mobile).length < 10) {\n  const out = { ...msg };\n  out.statusCode = 400;\n  out.payload = { success:false, message:'mobile is required (>=10 digits)' };\n  return [null, out];\n}\nmsg.topic = 'SELECT mobile, first_name, last_name, ROUND(balance,2) AS balance, language, device_id FROM user_profiles WHERE mobile = ? LIMIT 1;';\nmsg.payload = [mobile];\nmsg.operation = 'USER_INFO';\nreturn [msg, null];",
    "outputs": 2,
    "x": 560,
    "y": 240,
    "wires": [["sql-ion-shared"], ["fn-format-response"]]
  },

  {
    "id": "httpin-user-sessions",
    "type": "http in",
    "z": "tab-dashboard-api",
    "g": "group-dashboard-api",
    "name": "GET /api/v4/dashboard/user-sessions",
    "url": "/api/v4/dashboard/user-sessions",
    "method": "get",
    "x": 210,
    "y": 300,
    "wires": [["fn-user-sessions"]]
  },
  {
    "id": "fn-user-sessions",
    "type": "function",
    "z": "tab-dashboard-api",
    "g": "group-dashboard-api",
    "name": "Build SQL - User Sessions (Query Params)",
    "func": "const q = (msg.req && msg.req.query) ? msg.req.query : {};\nconst mobile = q.mobile;\nconst limit = q.limit ? Math.max(1, Math.min(100, Number(q.limit))) : 20;\nif (!mobile || String(mobile).length < 10) {\n  const out = { ...msg };\n  out.statusCode = 400;\n  out.payload = { success:false, message:'mobile is required (>=10 digits)' };\n  return [null, out];\n}\nmsg.topic = 'SELECT start_date AS \"Date/Time\", charger_id AS \"Charger\", kwh AS \"Energy\", amount AS \"Amount\" FROM charger_sessions WHERE user_id = ? ORDER BY session_id DESC LIMIT ?;';\nmsg.payload = [mobile, limit];\nmsg.operation = 'USER_SESSIONS';\nreturn [msg, null];",
    "outputs": 2,
    "x": 580,
    "y": 300,
    "wires": [["sql-ion-shared"], ["fn-format-response"]]
  },

  {
    "id": "httpin-user-payments",
    "type": "http in",
    "z": "tab-dashboard-api",
    "g": "group-dashboard-api",
    "name": "GET /api/v4/dashboard/user-payments",
    "url": "/api/v4/dashboard/user-payments",
    "method": "get",
    "x": 220,
    "y": 360,
    "wires": [["fn-user-payments"]]
  },
  {
    "id": "fn-user-payments",
    "type": "function",
    "z": "tab-dashboard-api",
    "g": "group-dashboard-api",
    "name": "Build SQL - User Payments (Query Params)",
    "func": "const q = (msg.req && msg.req.query) ? msg.req.query : {};\nconst mobile = q.mobile;\nconst limit = q.limit ? Math.max(1, Math.min(100, Number(q.limit))) : 20;\nif (!mobile || String(mobile).length < 10) {\n  const out = { ...msg };\n  out.statusCode = 400;\n  out.payload = { success:false, message:'mobile is required (>=10 digits)' };\n  return [null, out];\n}\nmsg.topic = 'SELECT `timestamp` AS \"Date/Time\", source AS \"Source\", amount AS \"Amount (JOD)\" FROM user_payments WHERE mobile = ? AND type = \"C\" ORDER BY `timestamp` DESC LIMIT ?;';\nmsg.payload = [mobile, limit];\nmsg.operation = 'USER_PAYMENTS';\nreturn [msg, null];",
    "outputs": 2,
    "x": 600,
    "y": 360,
    "wires": [["sql-ion-shared"], ["fn-format-response"]]
  },

  {
    "id": "httpin-stats",
    "type": "http in",
    "z": "tab-dashboard-api",
    "g": "group-dashboard-api",
    "name": "GET /api/v4/dashboard/stats",
    "url": "/api/v4/dashboard/stats",
    "method": "get",
    "x": 180,
    "y": 440,
    "wires": [["fn-stats"]]
  },
  {
    "id": "fn-stats",
    "type": "function",
    "z": "tab-dashboard-api",
    "g": "group-dashboard-api",
    "name": "Build SQL - Stats (Split OCPP + ION)",
    "func": "const msgOcpp = RED.util.cloneMessage(msg);\nmsgOcpp.topic = 'SELECT (SELECT COUNT(*) FROM Sessions WHERE active=1 AND charging=1) AS activeSessions, (SELECT COUNT(*) FROM Chargers WHERE LOWER(status)=\"online\") AS chargersOnline, (SELECT COUNT(*) FROM Connectors WHERE enabled=1) AS totalConnectors, (SELECT COUNT(*) FROM Connectors WHERE status=\"busy\") AS busyConnectors;';\nmsgOcpp.payload = [];\nmsgOcpp.part = 'ocpp';\nmsgOcpp.operation = 'STATS';\n\nconst msgIon = RED.util.cloneMessage(msg);\nmsgIon.topic = 'SELECT (SELECT COUNT(*) FROM user_profiles WHERE creation_date > CURDATE()) AS newUsers, (SELECT COUNT(*) FROM charger_sessions WHERE start_date > CURDATE() AND amount>0) AS sessions, (SELECT IFNULL(SUM(PaidAmt),0) FROM BLRPMTNTFRQ WHERE PmtStatus=\"PmtNew\" AND TmStp > CURDATE()) AS eFawateerCom, (SELECT IFNULL(SUM(amount),0) FROM ni_orders WHERE status=\"success\" AND `time` > CURDATE()) AS ni, (SELECT IFNULL(SUM(amount),0) FROM orange_money_transactions WHERE `timestamp` > CURDATE()) AS orangeMoney, (SELECT IFNULL(ROUND(SUM(amount),2),0) FROM charger_sessions WHERE amount>0 AND end_date > CURDATE()) AS expendature;';\nmsgIon.payload = [];\nmsgIon.part = 'ion';\nmsgIon.operation = 'STATS';\n\nreturn [msgOcpp, msgIon];",
    "outputs": 2,
    "x": 520,
    "y": 440,
    "wires": [["sql-ocpp-shared"], ["sql-ion-shared"]]
  },
  {
    "id": "join-stats",
    "type": "join",
    "z": "tab-dashboard-api",
    "g": "group-dashboard-api",
    "name": "Join Stats Parts",
    "mode": "custom",
    "build": "object",
    "property": "payload",
    "propertyType": "msg",
    "key": "part",
    "count": "2",
    "x": 1060,
    "y": 440,
    "wires": [["fn-prepare-stats"]]
  },
  {
    "id": "fn-prepare-stats",
    "type": "function",
    "z": "tab-dashboard-api",
    "g": "group-dashboard-api",
    "name": "Prepare - Stats Data",
    "func": "const parts = msg.payload || {};\nconst ocppRow = (Array.isArray(parts.ocpp) && parts.ocpp[0]) ? parts.ocpp[0] : (parts.ocpp || {});\nconst ionRow  = (Array.isArray(parts.ion)  && parts.ion[0])  ? parts.ion[0]  : (parts.ion  || {});\n\nconst totalConnectors = Number(ocppRow.totalConnectors || 0);\nconst busyConnectors  = Number(ocppRow.busyConnectors || 0);\nconst utilization = totalConnectors ? Math.floor((busyConnectors/totalConnectors)*100) : 0;\n\nconst eFawateerCom = Number(ionRow.eFawateerCom || 0);\nconst ni = Number(ionRow.ni || 0);\nconst orangeMoney = Number(ionRow.orangeMoney || 0);\n\nconst data = {\n  activeSessions: Number(ocppRow.activeSessions || 0),\n  utilization,\n  chargersOnline: Number(ocppRow.chargersOnline || 0),\n  newUsers: Number(ionRow.newUsers || 0),\n  sessions: Number(ionRow.sessions || 0),\n  payments: 0,\n  faults: 0,\n  revenue: 0,\n  tariffAC: 0,\n  tariffDC: 0,\n  eFawateerCom,\n  ni,\n  orangeMoney,\n  totalCashIn: eFawateerCom + ni + orangeMoney,\n  expendature: Number(ionRow.expendature || 0)\n};\n\nmsg.statusCode = 200;\nmsg.payload = data;\nreturn msg;",
    "outputs": 1,
    "x": 1260,
    "y": 440,
    "wires": [["fn-format-response"]]
  },

  {
    "id": "httpin-charger-status",
    "type": "http in",
    "z": "tab-dashboard-api",
    "g": "group-dashboard-api",
    "name": "GET /api/v4/dashboard/charger-status?chargerId=..",
    "url": "/api/v4/dashboard/charger-status",
    "method": "get",
    "x": 250,
    "y": 560,
    "wires": [["fn-charger-status"]]
  },
  {
    "id": "fn-charger-status",
    "type": "function",
    "z": "tab-dashboard-api",
    "g": "group-dashboard-api",
    "name": "Build SQL - Charger Status (Query Params)",
    "func": "const q = (msg.req && msg.req.query) ? msg.req.query : {};\nconst chargerId = q.chargerId;\nif (!chargerId) {\n  const out = { ...msg };\n  out.statusCode = 400;\n  out.payload = { success:false, message:'chargerId is required' };\n  return [null, out];\n}\nmsg.topic = 'SELECT status FROM Chargers WHERE charger_id = ? LIMIT 1;';\nmsg.payload = [chargerId];\nmsg.operation = 'CHARGER_STATUS';\nreturn [msg, null];",
    "outputs": 2,
    "x": 590,
    "y": 560,
    "wires": [["sql-ocpp-shared"], ["fn-format-response"]]
  },

  {
    "id": "httpin-connector-status",
    "type": "http in",
    "z": "tab-dashboard-api",
    "g": "group-dashboard-api",
    "name": "GET /api/v4/dashboard/connector-status?connectorId=..",
    "url": "/api/v4/dashboard/connector-status",
    "method": "get",
    "x": 260,
    "y": 620,
    "wires": [["fn-connector-status"]]
  },
  {
    "id": "fn-connector-status",
    "type": "function",
    "z": "tab-dashboard-api",
    "g": "group-dashboard-api",
    "name": "Build SQL - Connector Status (Query Params)",
    "func": "const q = (msg.req && msg.req.query) ? msg.req.query : {};\nconst connectorId = q.connectorId;\nif (!connectorId) {\n  const out = { ...msg };\n  out.statusCode = 400;\n  out.payload = { success:false, message:'connectorId is required' };\n  return [null, out];\n}\nmsg.topic = 'SELECT status FROM Connectors WHERE connector_id = ? LIMIT 1;';\nmsg.payload = [connectorId];\nmsg.operation = 'CONNECTOR_STATUS';\nreturn [msg, null];",
    "outputs": 2,
    "x": 600,
    "y": 620,
    "wires": [["sql-ocpp-shared"], ["fn-format-response"]]
  },

  {
    "id": "httpin-charger-command",
    "type": "http in",
    "z": "tab-dashboard-api",
    "g": "group-dashboard-api",
    "name": "POST /api/v4/dashboard/charger-command?chargerId=..&command=..",
    "url": "/api/v4/dashboard/charger-command",
    "method": "post",
    "x": 300,
    "y": 680,
    "wires": [["fn-charger-command"]]
  },
  {
    "id": "fn-charger-command",
    "type": "function",
    "z": "tab-dashboard-api",
    "g": "group-dashboard-api",
    "name": "Build SQL - Charger Command (Query Params)",
    "func": "const q = (msg.req && msg.req.query) ? msg.req.query : {};\n// Query params ONLY (as requested)\nconst chargerId = q.chargerId;\nconst command = q.command;\nconst allowed = ['restart','stop','unlock'];\n\nif (!chargerId || !command || !allowed.includes(command)) {\n  const out = { ...msg };\n  out.statusCode = 400;\n  out.payload = { success:false, message:'chargerId + command(restart|stop|unlock) are required' };\n  return [null, out];\n}\n\n// optional logging table (edit/disable if you want)\nmsg.topic = 'INSERT INTO ChargerCommands (charger_id, command, created_at) VALUES (?, ?, NOW());';\nmsg.payload = [chargerId, command];\nmsg.operation = 'CHARGER_COMMAND';\nreturn [msg, null];",
    "outputs": 2,
    "x": 640,
    "y": 680,
    "wires": [["sql-ocpp-shared"], ["fn-format-response"]]
  }
]
