node-red-flow-complete.json
[
    {
        "id": "main-tab",
        "type": "tab",
        "label": "EV Charging API",
        "disabled": false,
        "info": ""
    },
    {
        "id": "mysql-db-config",
        "type": "MySQLdatabase",
        "name": "MySQL DB",
        "host": "ion-ocpp.cluster-c3o6qc26ias1.eu-west-1.rds.amazonaws.com",
        "port": "3306",
        "db": "ocpp_CSGO",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "locations-get-in",
        "type": "http in",
        "z": "main-tab",
        "name": "GET /api/v4/location",
        "url": "/api/v4/location",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 100,
        "wires": [["locations-get-query"]]
    },
    {
        "id": "locations-get-query",
        "type": "function",
        "z": "main-tab",
        "name": "Query Locations",
        "func": "const id = msg.req.query.id;\nconst organizationId = msg.req.query.organizationId || msg.req.query.organization_id;\n\nif (id !== undefined) {\n    msg.topic = `SELECT location_id, organization_id, name, name_ar, lat, lng, num_chargers, description, logo_url, ad_url, payment_types, availability, subscription, visible_on_map, ocpi_id, ocpi_name, ocpi_address, ocpi_city, ocpi_postal_code, ocpi_country, ocpi_visible, ocpi_facility, ocpi_parking_restrictions, ocpi_directions, ocpi_directions_en FROM ocpp_CSGO.Locations WHERE location_id = ?`;\n    msg.payload = [id];\n    return msg;\n}\n\nif (organizationId !== undefined) {\n    msg.topic = `SELECT location_id, organization_id, name, name_ar, lat, lng, num_chargers, payment_types, availability, visible_on_map FROM ocpp_CSGO.Locations WHERE organization_id = ? ORDER BY name`;\n    msg.payload = [organizationId];\n    return msg;\n}\n\nmsg.topic = `SELECT location_id, organization_id, name, name_ar, lat, lng, num_chargers, payment_types, availability, visible_on_map FROM ocpp_CSGO.Locations ORDER BY name`;\nmsg.payload = [];\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 100,
        "wires": [["locations-mysql"]]
    },
    {
        "id": "locations-mysql",
        "type": "mysql",
        "z": "main-tab",
        "mydb": "mysql-db-config",
        "name": "",
        "x": 650,
        "y": 100,
        "wires": [["locations-response-format"]]
    },
    {
        "id": "locations-response-format",
        "type": "function",
        "z": "main-tab",
        "name": "Format Response",
        "func": "if (msg.error) {\n    msg.statusCode = 500;\n    msg.payload = { success: false, message: \"Internal Server Error\", details: msg.error.message };\n    return msg;\n}\n\nif (!msg.payload || msg.payload.length === 0) {\n    const id = msg.req.query.id;\n    if (id !== undefined) {\n        msg.statusCode = 404;\n        msg.payload = { success: false, message: \"Location not found\" };\n        return msg;\n    }\n    msg.statusCode = 204;\n    msg.payload = [];\n    return msg;\n}\n\nconst id = msg.req.query.id;\nif (id !== undefined) {\n    msg.statusCode = 200;\n    msg.payload = { success: true, data: msg.payload[0] };\n} else {\n    msg.statusCode = 200;\n    msg.payload = { success: true, count: msg.payload.length, data: msg.payload };\n}\nreturn msg;",
        "outputs": 1,
        "x": 900,
        "y": 100,
        "wires": [["locations-http-response"]]
    },
    {
        "id": "locations-http-response",
        "type": "http response",
        "z": "main-tab",
        "name": "",
        "statusCode": "",
        "headers": {
            "Content-Type": "application/json",
            "Access-Control-Allow-Origin": "*",
            "Access-Control-Allow-Methods": "GET, POST, PUT, DELETE, OPTIONS",
            "Access-Control-Allow-Headers": "Content-Type, Authorization"
        },
        "x": 1150,
        "y": 100,
        "wires": []
    },
    {
        "id": "locations-post-in",
        "type": "http in",
        "z": "main-tab",
        "name": "POST /api/v4/location",
        "url": "/api/v4/location",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 200,
        "wires": [["locations-post-validate"]]
    },
    {
        "id": "locations-post-validate",
        "type": "function",
        "z": "main-tab",
        "name": "Validate Create",
        "func": "const d = msg.payload || {};\nif (!d.name) {\n    msg.statusCode = 400;\n    msg.payload = { success: false, message: \"Location name is required\" };\n    return null;\n}\nif (!d.organization_id) {\n    msg.statusCode = 400;\n    msg.payload = { success: false, message: \"Organization ID is required\" };\n    return null;\n}\n\nmsg.topic = `INSERT INTO ocpp_CSGO.Locations (organization_id, name, name_ar, lat, lng, num_chargers, description, logo_url, ad_url, payment_types, availability, subscription, visible_on_map, ocpi_id, ocpi_name, ocpi_address, ocpi_city, ocpi_postal_code, ocpi_country, ocpi_visible, ocpi_facility, ocpi_parking_restrictions, ocpi_directions, ocpi_directions_en) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)`;\nmsg.payload = [d.organization_id, d.name || '', d.name_ar || '', d.lat || '', d.lng || '', d.num_chargers || 0, d.description || '', d.logo_url || '', d.ad_url || '', d.payment_types || '', d.availability || '', d.subscription || 'free', d.visible_on_map || false, d.ocpi_id || '', d.ocpi_name || '', d.ocpi_address || '', d.ocpi_city || '', d.ocpi_postal_code || '', d.ocpi_country || '', d.ocpi_visible || false, d.ocpi_facility || '', d.ocpi_parking_restrictions || '', d.ocpi_directions || '', d.ocpi_directions_en || ''];\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 200,
        "wires": [["locations-post-mysql"]]
    },
    {
        "id": "locations-post-mysql",
        "type": "mysql",
        "z": "main-tab",
        "mydb": "mysql-db-config",
        "name": "",
        "x": 650,
        "y": 200,
        "wires": [["locations-post-format"]]
    },
    {
        "id": "locations-post-format",
        "type": "function",
        "z": "main-tab",
        "name": "Format POST Response",
        "func": "if (msg.error) {\n    msg.statusCode = 500;\n    msg.payload = { success: false, message: \"Internal Server Error\", details: msg.error.message };\n    return msg;\n}\n\nmsg.statusCode = 201;\nmsg.payload = { success: true, message: \"Location created successfully\", insertId: msg.payload.insertId };\nreturn msg;",
        "outputs": 1,
        "x": 900,
        "y": 200,
        "wires": [["locations-http-response"]]
    },
    {
        "id": "locations-put-in",
        "type": "http in",
        "z": "main-tab",
        "name": "PUT /api/v4/location",
        "url": "/api/v4/location",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 300,
        "wires": [["locations-put-validate"]]
    },
    {
        "id": "locations-put-validate",
        "type": "function",
        "z": "main-tab",
        "name": "Validate Update",
        "func": "const id = msg.req.query.id;\nif (!id) {\n    msg.statusCode = 400;\n    msg.payload = { success: false, message: \"Location ID is required (use ?id={id})\" };\n    return null;\n}\n\nconst d = msg.payload || {};\nif (!d.name) {\n    msg.statusCode = 400;\n    msg.payload = { success: false, message: \"Location name is required\" };\n    return null;\n}\n\nmsg.topic = `UPDATE ocpp_CSGO.Locations SET organization_id=?, name=?, name_ar=?, lat=?, lng=?, num_chargers=?, description=?, logo_url=?, ad_url=?, payment_types=?, availability=?, subscription=?, visible_on_map=?, ocpi_id=?, ocpi_name=?, ocpi_address=?, ocpi_city=?, ocpi_postal_code=?, ocpi_country=?, ocpi_visible=?, ocpi_facility=?, ocpi_parking_restrictions=?, ocpi_directions=?, ocpi_directions_en=? WHERE location_id=?`;\nmsg.payload = [d.organization_id || null, d.name || '', d.name_ar || '', d.lat || '', d.lng || '', d.num_chargers || 0, d.description || '', d.logo_url || '', d.ad_url || '', d.payment_types || '', d.availability || '', d.subscription || 'free', d.visible_on_map || false, d.ocpi_id || '', d.ocpi_name || '', d.ocpi_address || '', d.ocpi_city || '', d.ocpi_postal_code || '', d.ocpi_country || '', d.ocpi_visible || false, d.ocpi_facility || '', d.ocpi_parking_restrictions || '', d.ocpi_directions || '', d.ocpi_directions_en || '', id];\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 300,
        "wires": [["locations-put-mysql"]]
    },
    {
        "id": "locations-put-mysql",
        "type": "mysql",
        "z": "main-tab",
        "mydb": "mysql-db-config",
        "name": "",
        "x": 650,
        "y": 300,
        "wires": [["locations-put-format"]]
    },
    {
        "id": "locations-put-format",
        "type": "function",
        "z": "main-tab",
        "name": "Format PUT Response",
        "func": "if (msg.error) {\n    msg.statusCode = 500;\n    msg.payload = { success: false, message: \"Internal Server Error\", details: msg.error.message };\n    return msg;\n}\n\nif (msg.payload.affectedRows === 0) {\n    msg.statusCode = 404;\n    msg.payload = { success: false, message: \"Location not found\" };\n    return msg;\n}\n\nmsg.statusCode = 200;\nmsg.payload = { success: true, message: \"Location updated successfully\" };\nreturn msg;",
        "outputs": 1,
        "x": 900,
        "y": 300,
        "wires": [["locations-http-response"]]
    },
    {
        "id": "locations-delete-in",
        "type": "http in",
        "z": "main-tab",
        "name": "DELETE /api/v4/location",
        "url": "/api/v4/location",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 400,
        "wires": [["locations-delete-validate"]]
    },
    {
        "id": "locations-delete-validate",
        "type": "function",
        "z": "main-tab",
        "name": "Validate Delete",
        "func": "const id = msg.req.query.id;\nif (!id) {\n    msg.statusCode = 400;\n    msg.payload = { success: false, message: \"Location ID is required (use ?id={id})\" };\n    return null;\n}\n\nmsg.topic = `SELECT COUNT(*) as count FROM ocpp_CSGO.Chargers WHERE location_id = ?`;\nmsg.payload = [id];\nmsg.checkChargers = true;\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 400,
        "wires": [["locations-delete-check-mysql"]]
    },
    {
        "id": "locations-delete-check-mysql",
        "type": "mysql",
        "z": "main-tab",
        "mydb": "mysql-db-config",
        "name": "",
        "x": 650,
        "y": 400,
        "wires": [["locations-delete-check"]]
    },
    {
        "id": "locations-delete-check",
        "type": "function",
        "z": "main-tab",
        "name": "Check and Delete",
        "func": "const id = msg.req.query.id;\n\nif (msg.checkChargers) {\n    const count = msg.payload && msg.payload[0] ? msg.payload[0].count : 0;\n    if (count > 0) {\n        msg.statusCode = 400;\n        msg.payload = { success: false, message: `Cannot delete location. It has ${count} charger(s) associated with it.` };\n        return msg;\n    }\n    msg.topic = `DELETE FROM ocpp_CSGO.Locations WHERE location_id = ?`;\n    msg.payload = [id];\n    msg.checkChargers = false;\n    node.send(msg);\n    return null;\n}\n\nif (msg.error) {\n    msg.statusCode = 500;\n    msg.payload = { success: false, message: \"Internal Server Error\", details: msg.error.message };\n    return msg;\n}\n\nif (msg.payload.affectedRows === 0) {\n    msg.statusCode = 404;\n    msg.payload = { success: false, message: \"Location not found\" };\n    return msg;\n}\n\nmsg.statusCode = 200;\nmsg.payload = { success: true, message: \"Location deleted successfully\" };\nreturn msg;",
        "outputs": 1,
        "x": 900,
        "y": 400,
        "wires": [["locations-delete-final-mysql", "locations-http-response"]]
    },
    {
        "id": "locations-delete-final-mysql",
        "type": "mysql",
        "z": "main-tab",
        "mydb": "mysql-db-config",
        "name": "",
        "x": 1150,
        "y": 400,
        "wires": [["locations-delete-check"]]
    },
    {
        "id": "chargers-get-in",
        "type": "http in",
        "z": "main-tab",
        "name": "GET /api/v4/charger",
        "url": "/api/v4/charger",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 600,
        "wires": [["chargers-get-query"]]
    },
    {
        "id": "chargers-get-query",
        "type": "function",
        "z": "main-tab",
        "name": "Query Chargers",
        "func": "const id = msg.req.query.id;\nconst chargerID = msg.req.query.chargerID || msg.req.query.charger_id;\nconst locationId = msg.req.query.locationId || msg.req.query.location_id;\nconst status = msg.req.query.status;\n\nconst allowedStatus = [\"online\", \"offline\"];\nconst conditions = [];\n\nif (id !== undefined) {\n    msg.topic = `SELECT charger_id AS id, name, chargerID, ocpi_last_update AS time, status, type, location_id AS locationId, max_session_time, num_connectors, description FROM ocpp_CSGO.Chargers WHERE charger_id = ?`;\n    msg.payload = [id];\n    return msg;\n}\n\nif (chargerID !== undefined) {\n    msg.topic = `SELECT charger_id AS id, name, chargerID, ocpi_last_update AS time, status, type, location_id AS locationId, max_session_time, num_connectors, description FROM ocpp_CSGO.Chargers WHERE chargerID = ?`;\n    msg.payload = [chargerID];\n    return msg;\n}\n\nif (status) {\n    if (!allowedStatus.includes(status)) {\n        msg.statusCode = 400;\n        msg.payload = { success: false, message: \"Invalid status value. Allowed: online, offline\" };\n        return null;\n    }\n    conditions.push(`c.status = '${status}'`);\n}\n\nif (locationId) {\n    conditions.push(`c.location_id = '${locationId}'`);\n}\n\nlet whereClause = conditions.length > 0 ? `WHERE ${conditions.join(' AND ')}` : '';\n\nmsg.topic = `SELECT c.charger_id AS id, c.name, c.chargerID, c.ocpi_last_update AS time, c.status, c.type, c.location_id AS locationId, c.max_session_time, c.num_connectors, c.description FROM ocpp_CSGO.Chargers c ${whereClause} ORDER BY c.ocpi_last_update DESC`;\nmsg.payload = [];\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 600,
        "wires": [["chargers-mysql"]]
    },
    {
        "id": "chargers-mysql",
        "type": "mysql",
        "z": "main-tab",
        "mydb": "mysql-db-config",
        "name": "",
        "x": 650,
        "y": 600,
        "wires": [["chargers-response-format"]]
    },
    {
        "id": "chargers-response-format",
        "type": "function",
        "z": "main-tab",
        "name": "Format Response",
        "func": "if (msg.error) {\n    msg.statusCode = 500;\n    msg.payload = { success: false, message: \"Internal Server Error\", details: msg.error.message };\n    return msg;\n}\n\nif (!msg.payload || msg.payload.length === 0) {\n    const id = msg.req.query.id;\n    if (id !== undefined) {\n        msg.statusCode = 404;\n        msg.payload = { success: false, message: \"Charger not found\" };\n        return msg;\n    }\n    msg.statusCode = 204;\n    msg.payload = [];\n    return msg;\n}\n\nconst id = msg.req.query.id;\nif (id !== undefined) {\n    msg.statusCode = 200;\n    msg.payload = { success: true, data: msg.payload[0] };\n} else {\n    msg.statusCode = 200;\n    msg.payload = { success: true, count: msg.payload.length, data: msg.payload };\n}\nreturn msg;",
        "outputs": 1,
        "x": 900,
        "y": 600,
        "wires": [["chargers-http-response"]]
    },
    {
        "id": "chargers-http-response",
        "type": "http response",
        "z": "main-tab",
        "name": "",
        "statusCode": "",
        "headers": {
            "Content-Type": "application/json",
            "Access-Control-Allow-Origin": "*",
            "Access-Control-Allow-Methods": "GET, POST, PUT, DELETE, OPTIONS",
            "Access-Control-Allow-Headers": "Content-Type, Authorization"
        },
        "x": 1150,
        "y": 600,
        "wires": []
    },
    {
        "id": "chargers-post-in",
        "type": "http in",
        "z": "main-tab",
        "name": "POST /api/v4/charger",
        "url": "/api/v4/charger",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 700,
        "wires": [["chargers-post-validate"]]
    },
    {
        "id": "chargers-post-validate",
        "type": "function",
        "z": "main-tab",
        "name": "Validate Create",
        "func": "const d = msg.payload || {};\nif (!d.name || !d.type || !d.status) {\n    msg.statusCode = 400;\n    msg.payload = { success: false, message: \"Missing required fields: name, type, status\" };\n    return null;\n}\n\nmsg.topic = `INSERT INTO ocpp_CSGO.Chargers (name, type, status, location_id, max_session_time, num_connectors, description) VALUES (?, ?, ?, ?, ?, ?, ?)`;\nmsg.payload = [d.name, d.type, d.status, d.location_id || d.locationId || null, d.max_session_time || d.maxSessionTime || null, d.num_connectors || d.numConnectors || null, d.description || null];\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 700,
        "wires": [["chargers-post-mysql"]]
    },
    {
        "id": "chargers-post-mysql",
        "type": "mysql",
        "z": "main-tab",
        "mydb": "mysql-db-config",
        "name": "",
        "x": 650,
        "y": 700,
        "wires": [["chargers-post-format"]]
    },
    {
        "id": "chargers-post-format",
        "type": "function",
        "z": "main-tab",
        "name": "Format POST Response",
        "func": "if (msg.error) {\n    msg.statusCode = 500;\n    msg.payload = { success: false, message: \"Internal Server Error\", details: msg.error.message };\n    return msg;\n}\n\nmsg.statusCode = 201;\nmsg.payload = { success: true, message: \"Charger created successfully\", insertId: msg.payload.insertId };\nreturn msg;",
        "outputs": 1,
        "x": 900,
        "y": 700,
        "wires": [["chargers-http-response"]]
    },
    {
        "id": "chargers-put-in",
        "type": "http in",
        "z": "main-tab",
        "name": "PUT /api/v4/charger",
        "url": "/api/v4/charger",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 800,
        "wires": [["chargers-put-validate"]]
    },
    {
        "id": "chargers-put-validate",
        "type": "function",
        "z": "main-tab",
        "name": "Validate Update",
        "func": "const id = msg.req.query.id;\nif (!id) {\n    msg.statusCode = 400;\n    msg.payload = { success: false, message: \"Charger ID is required (use ?id={id})\" };\n    return null;\n}\n\nconst d = msg.payload || {};\nif (!d.name || !d.type || !d.status) {\n    msg.statusCode = 400;\n    msg.payload = { success: false, message: \"Missing required fields: name, type, status\" };\n    return null;\n}\n\nmsg.topic = `UPDATE ocpp_CSGO.Chargers SET name=?, type=?, status=?, location_id=?, max_session_time=?, num_connectors=?, description=? WHERE charger_id=?`;\nmsg.payload = [d.name, d.type, d.status, d.location_id || d.locationId || null, d.max_session_time || d.maxSessionTime || null, d.num_connectors || d.numConnectors || null, d.description || null, id];\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 800,
        "wires": [["chargers-put-mysql"]]
    },
    {
        "id": "chargers-put-mysql",
        "type": "mysql",
        "z": "main-tab",
        "mydb": "mysql-db-config",
        "name": "",
        "x": 650,
        "y": 800,
        "wires": [["chargers-put-format"]]
    },
    {
        "id": "chargers-put-format",
        "type": "function",
        "z": "main-tab",
        "name": "Format PUT Response",
        "func": "if (msg.error) {\n    msg.statusCode = 500;\n    msg.payload = { success: false, message: \"Internal Server Error\", details: msg.error.message };\n    return msg;\n}\n\nif (msg.payload.affectedRows === 0) {\n    msg.statusCode = 404;\n    msg.payload = { success: false, message: \"Charger not found\" };\n    return msg;\n}\n\nmsg.statusCode = 200;\nmsg.payload = { success: true, message: \"Charger updated successfully\" };\nreturn msg;",
        "outputs": 1,
        "x": 900,
        "y": 800,
        "wires": [["chargers-http-response"]]
    },
    {
        "id": "chargers-delete-in",
        "type": "http in",
        "z": "main-tab",
        "name": "DELETE /api/v4/charger",
        "url": "/api/v4/charger",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 900,
        "wires": [["chargers-delete-validate"]]
    },
    {
        "id": "chargers-delete-validate",
        "type": "function",
        "z": "main-tab",
        "name": "Validate Delete",
        "func": "const id = msg.req.query.id;\nif (!id) {\n    msg.statusCode = 400;\n    msg.payload = { success: false, message: \"Charger ID is required (use ?id={id})\" };\n    return null;\n}\n\nmsg.topic = `SELECT COUNT(*) as count FROM ocpp_CSGO.Connectors WHERE charger_id = ?`;\nmsg.payload = [id];\nmsg.checkConnectors = true;\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 900,
        "wires": [["chargers-delete-check-mysql"]]
    },
    {
        "id": "chargers-delete-check-mysql",
        "type": "mysql",
        "z": "main-tab",
        "mydb": "mysql-db-config",
        "name": "",
        "x": 650,
        "y": 900,
        "wires": [["chargers-delete-check"]]
    },
    {
        "id": "chargers-delete-check",
        "type": "function",
        "z": "main-tab",
        "name": "Check and Delete",
        "func": "const id = msg.req.query.id;\n\nif (msg.checkConnectors) {\n    const count = msg.payload && msg.payload[0] ? msg.payload[0].count : 0;\n    if (count > 0) {\n        msg.statusCode = 400;\n        msg.payload = { success: false, message: `Cannot delete charger. It has ${count} connector(s) associated with it.` };\n        return msg;\n    }\n    msg.topic = `DELETE FROM ocpp_CSGO.Chargers WHERE charger_id = ?`;\n    msg.payload = [id];\n    msg.checkConnectors = false;\n    node.send(msg);\n    return null;\n}\n\nif (msg.error) {\n    msg.statusCode = 500;\n    msg.payload = { success: false, message: \"Internal Server Error\", details: msg.error.message };\n    return msg;\n}\n\nif (msg.payload.affectedRows === 0) {\n    msg.statusCode = 404;\n    msg.payload = { success: false, message: \"Charger not found\" };\n    return msg;\n}\n\nmsg.statusCode = 200;\nmsg.payload = { success: true, message: \"Charger deleted successfully\" };\nreturn msg;",
        "outputs": 1,
        "x": 900,
        "y": 900,
        "wires": [["chargers-delete-final-mysql", "chargers-http-response"]]
    },
    {
        "id": "chargers-delete-final-mysql",
        "type": "mysql",
        "z": "main-tab",
        "mydb": "mysql-db-config",
        "name": "",
        "x": 1150,
        "y": 900,
        "wires": [["chargers-delete-check"]]
    },
    {
        "id": "locations-catch",
        "type": "catch",
        "z": "main-tab",
        "name": "Locations Catch",
        "scope": ["locations-get-in", "locations-post-in", "locations-put-in", "locations-delete-in"],
        "uncaught": false,
        "x": 150,
        "y": 500,
        "wires": [["locations-error-handler"]]
    },
    {
        "id": "locations-error-handler",
        "type": "function",
        "z": "main-tab",
        "name": "Error Handler",
        "func": "msg.statusCode = 500;\nmsg.payload = { success: false, message: \"Internal Server Error\", details: msg.error ? msg.error.message : \"Unknown error\" };\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 500,
        "wires": [["locations-http-response"]]
    },
    {
        "id": "chargers-catch",
        "type": "catch",
        "z": "main-tab",
        "name": "Chargers Catch",
        "scope": ["chargers-get-in", "chargers-post-in", "chargers-put-in", "chargers-delete-in"],
        "uncaught": false,
        "x": 150,
        "y": 1000,
        "wires": [["chargers-error-handler"]]
    },
    {
        "id": "chargers-error-handler",
        "type": "function",
        "z": "main-tab",
        "name": "Error Handler",
        "func": "msg.statusCode = 500;\nmsg.payload = { success: false, message: \"Internal Server Error\", details: msg.error ? msg.error.message : \"Unknown error\" };\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 1000,
        "wires": [["chargers-http-response"]]
    }
]
