node-red-flow-connectors-tariffs.json
[
    {
        "id": "connectors-get-in",
        "type": "http in",
        "z": "main-tab",
        "name": "GET /api/v4/connector",
        "url": "/api/v4/connector",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 1200,
        "wires": [["connectors-get-query"]]
    },
    {
        "id": "connectors-get-query",
        "type": "function",
        "z": "main-tab",
        "name": "Query Connectors",
        "func": "const id = msg.req.query.id;\nconst chargerId = msg.req.query.chargerId || msg.req.query.charger_id;\n\nif (id !== undefined) {\n    msg.topic = `SELECT connector_id AS id, charger_id AS chargerId, connector_type AS type, status, power, power_unit, time_limit, pin, ocpi_standard, ocpi_format, ocpi_power_type, ocpi_max_voltage, ocpi_max_amperage, ocpi_tariff_ids, stop_on80, enabled FROM ocpp_CSGO.Connectors WHERE connector_id = ?`;\n    msg.payload = [id];\n    return msg;\n}\n\nif (chargerId !== undefined) {\n    msg.topic = `SELECT connector_id AS id, charger_id AS chargerId, connector_type AS type, status, power, power_unit, time_limit, pin, ocpi_standard, ocpi_format, ocpi_power_type, ocpi_max_voltage, ocpi_max_amperage, ocpi_tariff_ids, stop_on80, enabled FROM ocpp_CSGO.Connectors WHERE charger_id = ? ORDER BY connector_id`;\n    msg.payload = [chargerId];\n    return msg;\n}\n\nmsg.topic = `SELECT connector_id AS id, charger_id AS chargerId, connector_type AS type, status, power, power_unit, time_limit, pin, ocpi_standard, ocpi_format, ocpi_power_type, ocpi_max_voltage, ocpi_max_amperage, ocpi_tariff_ids, stop_on80, enabled FROM ocpp_CSGO.Connectors ORDER BY charger_id, connector_id`;\nmsg.payload = [];\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 1200,
        "wires": [["connectors-mysql"]]
    },
    {
        "id": "connectors-mysql",
        "type": "mysql",
        "z": "main-tab",
        "mydb": "mysql-db-config",
        "name": "",
        "x": 650,
        "y": 1200,
        "wires": [["connectors-response-format"]]
    },
    {
        "id": "connectors-response-format",
        "type": "function",
        "z": "main-tab",
        "name": "Format Response",
        "func": "if (msg.error) {\n    msg.statusCode = 500;\n    msg.payload = { success: false, message: \"Internal Server Error\", details: msg.error.message };\n    return msg;\n}\n\nif (!msg.payload || msg.payload.length === 0) {\n    const id = msg.req.query.id;\n    if (id !== undefined) {\n        msg.statusCode = 404;\n        msg.payload = { success: false, message: \"Connector not found\" };\n        return msg;\n    }\n    msg.statusCode = 204;\n    msg.payload = [];\n    return msg;\n}\n\nconst id = msg.req.query.id;\nif (id !== undefined) {\n    msg.statusCode = 200;\n    msg.payload = { success: true, data: msg.payload[0] };\n} else {\n    msg.statusCode = 200;\n    msg.payload = { success: true, count: msg.payload.length, data: msg.payload };\n}\nreturn msg;",
        "outputs": 1,
        "x": 900,
        "y": 1200,
        "wires": [["connectors-http-response"]]
    },
    {
        "id": "connectors-http-response",
        "type": "http response",
        "z": "main-tab",
        "name": "",
        "statusCode": "",
        "headers": {
            "Content-Type": "application/json",
            "Access-Control-Allow-Origin": "*",
            "Access-Control-Allow-Methods": "GET, POST, PUT, DELETE, OPTIONS",
            "Access-Control-Allow-Headers": "Content-Type, Authorization"
        },
        "x": 1150,
        "y": 1200,
        "wires": []
    },
    {
        "id": "connectors-post-in",
        "type": "http in",
        "z": "main-tab",
        "name": "POST /api/v4/connector",
        "url": "/api/v4/connector",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 1300,
        "wires": [["connectors-post-validate"]]
    },
    {
        "id": "connectors-post-validate",
        "type": "function",
        "z": "main-tab",
        "name": "Validate Create",
        "func": "const d = msg.payload || {};\nif (!d.charger_id && !d.chargerId) {\n    msg.statusCode = 400;\n    msg.payload = { success: false, message: \"Charger ID is required\" };\n    return null;\n}\nif (!d.type && !d.connector_type) {\n    msg.statusCode = 400;\n    msg.payload = { success: false, message: \"Connector type is required\" };\n    return null;\n}\nif (!d.power && !d.power_kw) {\n    msg.statusCode = 400;\n    msg.payload = { success: false, message: \"Power is required\" };\n    return null;\n}\nif (!d.status) {\n    msg.statusCode = 400;\n    msg.payload = { success: false, message: \"Status is required\" };\n    return null;\n}\n\nconst chargerId = d.charger_id || d.chargerId;\nconst connectorType = d.type || d.connector_type || '';\nconst power = d.power || d.power_kw || '';\nmsg.topic = `INSERT INTO ocpp_CSGO.Connectors (charger_id, connector_type, status, power, power_unit, time_limit, pin, ocpi_standard, ocpi_format, ocpi_power_type, ocpi_max_voltage, ocpi_max_amperage, ocpi_tariff_ids, stop_on80, enabled) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)`;\nmsg.payload = [chargerId, connectorType, d.status || '', power, d.power_unit || 'kw', d.time_limit || null, d.pin || null, d.ocpi_standard || null, d.ocpi_format || null, d.ocpi_power_type || null, d.ocpi_max_voltage || null, d.ocpi_max_amperage || null, d.ocpi_tariff_ids || null, d.stop_on80 !== undefined ? (d.stop_on80 ? 1 : 0) : 0, d.enabled !== undefined ? (d.enabled ? 1 : 0) : 1];\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 1300,
        "wires": [["connectors-post-mysql"]]
    },
    {
        "id": "connectors-post-mysql",
        "type": "mysql",
        "z": "main-tab",
        "mydb": "mysql-db-config",
        "name": "",
        "x": 650,
        "y": 1300,
        "wires": [["connectors-post-format"]]
    },
    {
        "id": "connectors-post-format",
        "type": "function",
        "z": "main-tab",
        "name": "Format POST Response",
        "func": "if (msg.error) {\n    msg.statusCode = 500;\n    msg.payload = { success: false, message: \"Internal Server Error\", details: msg.error.message };\n    return msg;\n}\n\nmsg.statusCode = 201;\nmsg.payload = { success: true, message: \"Connector created successfully\", insertId: msg.payload.insertId };\nreturn msg;",
        "outputs": 1,
        "x": 900,
        "y": 1300,
        "wires": [["connectors-http-response"]]
    },
    {
        "id": "connectors-put-in",
        "type": "http in",
        "z": "main-tab",
        "name": "PUT /api/v4/connector",
        "url": "/api/v4/connector",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 1400,
        "wires": [["connectors-put-validate"]]
    },
    {
        "id": "connectors-put-validate",
        "type": "function",
        "z": "main-tab",
        "name": "Validate Update",
        "func": "const id = msg.req.query.id;\nif (!id) {\n    msg.statusCode = 400;\n    msg.payload = { success: false, message: \"Connector ID is required (use ?id={id})\" };\n    return null;\n}\n\nconst d = msg.payload || {};\nconst connectorType = d.type !== undefined ? d.type : (d.connector_type !== undefined ? d.connector_type : null);\nconst power = d.power !== undefined ? d.power : (d.power_kw !== undefined ? d.power_kw : null);\nconst stopOn80 = d.stop_on80 !== undefined ? (d.stop_on80 ? 1 : 0) : null;\nconst enabled = d.enabled !== undefined ? (d.enabled ? 1 : 0) : null;\n\nmsg.topic = `UPDATE ocpp_CSGO.Connectors SET connector_type=?, status=?, power=?, power_unit=?, time_limit=?, pin=?, ocpi_standard=?, ocpi_format=?, ocpi_power_type=?, ocpi_max_voltage=?, ocpi_max_amperage=?, ocpi_tariff_ids=?, stop_on80=?, enabled=? WHERE connector_id=?`;\nmsg.payload = [connectorType, d.status || null, power, d.power_unit || null, d.time_limit || null, d.pin || null, d.ocpi_standard || null, d.ocpi_format || null, d.ocpi_power_type || null, d.ocpi_max_voltage || null, d.ocpi_max_amperage || null, d.ocpi_tariff_ids || null, stopOn80, enabled, id];\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 1400,
        "wires": [["connectors-put-mysql"]]
    },
    {
        "id": "connectors-put-mysql",
        "type": "mysql",
        "z": "main-tab",
        "mydb": "mysql-db-config",
        "name": "",
        "x": 650,
        "y": 1400,
        "wires": [["connectors-put-format"]]
    },
    {
        "id": "connectors-put-format",
        "type": "function",
        "z": "main-tab",
        "name": "Format PUT Response",
        "func": "if (msg.error) {\n    msg.statusCode = 500;\n    msg.payload = { success: false, message: \"Internal Server Error\", details: msg.error.message };\n    return msg;\n}\n\nif (msg.payload.affectedRows === 0) {\n    msg.statusCode = 404;\n    msg.payload = { success: false, message: \"Connector not found\" };\n    return msg;\n}\n\nmsg.statusCode = 200;\nmsg.payload = { success: true, message: \"Connector updated successfully\" };\nreturn msg;",
        "outputs": 1,
        "x": 900,
        "y": 1400,
        "wires": [["connectors-http-response"]]
    },
    {
        "id": "connectors-delete-in",
        "type": "http in",
        "z": "main-tab",
        "name": "DELETE /api/v4/connector",
        "url": "/api/v4/connector",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 1500,
        "wires": [["connectors-delete-validate"]]
    },
    {
        "id": "connectors-delete-validate",
        "type": "function",
        "z": "main-tab",
        "name": "Validate Delete",
        "func": "const id = msg.req.query.id;\nif (!id) {\n    msg.statusCode = 400;\n    msg.payload = { success: false, message: \"Connector ID is required (use ?id={id})\" };\n    return null;\n}\n\nmsg.topic = `SELECT COUNT(*) as count FROM ocpp_CSGO.Sessions WHERE connector_id = ? AND status IN ('Charging', 'Active')`;\nmsg.payload = [id];\nmsg.checkSessions = true;\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 1500,
        "wires": [["connectors-delete-check-mysql"]]
    },
    {
        "id": "connectors-delete-check-mysql",
        "type": "mysql",
        "z": "main-tab",
        "mydb": "mysql-db-config",
        "name": "",
        "x": 650,
        "y": 1500,
        "wires": [["connectors-delete-check"]]
    },
    {
        "id": "connectors-delete-check",
        "type": "function",
        "z": "main-tab",
        "name": "Check and Delete",
        "func": "const id = msg.req.query.id;\n\nif (msg.checkSessions) {\n    const count = msg.payload && msg.payload[0] ? msg.payload[0].count : 0;\n    if (count > 0) {\n        msg.statusCode = 400;\n        msg.payload = { success: false, message: `Cannot delete connector. It has ${count} active session(s).` };\n        return msg;\n    }\n    msg.topic = `DELETE FROM ocpp_CSGO.Connectors WHERE connector_id = ?`;\n    msg.payload = [id];\n    msg.checkSessions = false;\n    node.send(msg);\n    return null;\n}\n\nif (msg.error) {\n    msg.statusCode = 500;\n    msg.payload = { success: false, message: \"Internal Server Error\", details: msg.error.message };\n    return msg;\n}\n\nif (msg.payload.affectedRows === 0) {\n    msg.statusCode = 404;\n    msg.payload = { success: false, message: \"Connector not found\" };\n    return msg;\n}\n\nmsg.statusCode = 200;\nmsg.payload = { success: true, message: \"Connector deleted successfully\" };\nreturn msg;",
        "outputs": 1,
        "x": 900,
        "y": 1500,
        "wires": [["connectors-delete-final-mysql", "connectors-http-response"]]
    },
    {
        "id": "connectors-delete-final-mysql",
        "type": "mysql",
        "z": "main-tab",
        "mydb": "mysql-db-config",
        "name": "",
        "x": 1150,
        "y": 1500,
        "wires": [["connectors-delete-check"]]
    },
    {
        "id": "connectors-catch",
        "type": "catch",
        "z": "main-tab",
        "name": "Connectors Catch",
        "scope": ["connectors-get-in", "connectors-post-in", "connectors-put-in", "connectors-delete-in"],
        "uncaught": false,
        "x": 150,
        "y": 1600,
        "wires": [["connectors-error-handler"]]
    },
    {
        "id": "connectors-error-handler",
        "type": "function",
        "z": "main-tab",
        "name": "Error Handler",
        "func": "msg.statusCode = 500;\nmsg.payload = { success: false, message: \"Internal Server Error\", details: msg.error ? msg.error.message : \"Unknown error\" };\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 1600,
        "wires": [["connectors-http-response"]]
    },
    {
        "id": "tariffs-get-in",
        "type": "http in",
        "z": "main-tab",
        "name": "GET /api/v4/tariff",
        "url": "/api/v4/tariff",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 1800,
        "wires": [["tariffs-get-query"]]
    },
    {
        "id": "tariffs-get-query",
        "type": "function",
        "z": "main-tab",
        "name": "Query Tariffs",
        "func": "const id = msg.req.query.id;\nconst connectorId = msg.req.query.connectorId || msg.req.query.connector_id;\nconst status = msg.req.query.status;\nconst type = msg.req.query.type;\nconst peakType = msg.req.query.peakType || msg.req.query.peak_type;\n\nif (id !== undefined) {\n    msg.topic = `SELECT t.tariff_id AS id, t.type, t.buy_rate, t.sell_rate, t.transaction_fees, t.client_percentage, t.partner_percentage, t.peak_type, t.status, t.created_at FROM ocpp_CSGO.Tariffs t WHERE t.tariff_id = ?`;\n    msg.payload = [id];\n    return msg;\n}\n\nif (connectorId !== undefined) {\n    msg.topic = `SELECT t.tariff_id AS id, t.type, t.buy_rate, t.sell_rate, t.transaction_fees, t.client_percentage, t.partner_percentage, t.peak_type, t.status, t.created_at FROM ocpp_CSGO.Tariffs t JOIN ocpp_CSGO.Connectors c ON t.tariff_id = c.tariff_id WHERE c.connector_id = ? ORDER BY t.created_at DESC`;\n    msg.payload = [connectorId];\n    return msg;\n}\n\nlet whereClause = [];\nlet params = [];\n\nif (status !== undefined) {\n    whereClause.push(`t.status = ?`);\n    params.push(status);\n}\n\nif (type !== undefined) {\n    whereClause.push(`t.type = ?`);\n    params.push(type);\n}\n\nif (peakType !== undefined) {\n    whereClause.push(`t.peak_type = ?`);\n    params.push(peakType);\n}\n\nconst where = whereClause.length > 0 ? `WHERE ${whereClause.join(' AND ')}` : '';\nmsg.topic = `SELECT t.tariff_id AS id, t.type, t.buy_rate, t.sell_rate, t.transaction_fees, t.client_percentage, t.partner_percentage, t.peak_type, t.status, t.created_at FROM ocpp_CSGO.Tariffs t ${where} ORDER BY t.created_at DESC`;\nmsg.payload = params;\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 1800,
        "wires": [["tariffs-mysql"]]
    },
    {
        "id": "tariffs-mysql",
        "type": "mysql",
        "z": "main-tab",
        "mydb": "mysql-db-config",
        "name": "",
        "x": 650,
        "y": 1800,
        "wires": [["tariffs-response-format"]]
    },
    {
        "id": "tariffs-response-format",
        "type": "function",
        "z": "main-tab",
        "name": "Format Response",
        "func": "if (msg.error) {\n    msg.statusCode = 500;\n    msg.payload = { success: false, message: \"Internal Server Error\", details: msg.error.message };\n    return msg;\n}\n\nif (!msg.payload || msg.payload.length === 0) {\n    const id = msg.req.query.id;\n    if (id !== undefined) {\n        msg.statusCode = 404;\n        msg.payload = { success: false, message: \"Tariff not found\" };\n        return msg;\n    }\n    msg.statusCode = 204;\n    msg.payload = [];\n    return msg;\n}\n\nconst id = msg.req.query.id;\nif (id !== undefined) {\n    msg.statusCode = 200;\n    msg.payload = { success: true, data: msg.payload[0] };\n} else {\n    msg.statusCode = 200;\n    msg.payload = { success: true, count: msg.payload.length, data: msg.payload };\n}\nreturn msg;",
        "outputs": 1,
        "x": 900,
        "y": 1800,
        "wires": [["tariffs-http-response"]]
    },
    {
        "id": "tariffs-http-response",
        "type": "http response",
        "z": "main-tab",
        "name": "",
        "statusCode": "",
        "headers": {
            "Content-Type": "application/json",
            "Access-Control-Allow-Origin": "*",
            "Access-Control-Allow-Methods": "GET, POST, PUT, DELETE, OPTIONS",
            "Access-Control-Allow-Headers": "Content-Type, Authorization"
        },
        "x": 1150,
        "y": 1800,
        "wires": []
    },
    {
        "id": "tariffs-post-in",
        "type": "http in",
        "z": "main-tab",
        "name": "POST /api/v4/tariff",
        "url": "/api/v4/tariff",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 1900,
        "wires": [["tariffs-post-validate"]]
    },
    {
        "id": "tariffs-post-validate",
        "type": "function",
        "z": "main-tab",
        "name": "Validate Create",
        "func": "const d = msg.payload || {};\n\nif (!d.type) {\n    msg.statusCode = 400;\n    msg.payload = { success: false, message: \"Type is required\" };\n    return null;\n}\n\nif (d.buy_rate === undefined && d.buyRate === undefined) {\n    msg.statusCode = 400;\n    msg.payload = { success: false, message: \"Buy rate is required\" };\n    return null;\n}\n\nif (d.sell_rate === undefined && d.sellRate === undefined) {\n    msg.statusCode = 400;\n    msg.payload = { success: false, message: \"Sell rate is required\" };\n    return null;\n}\n\nfunction numOrNull(value) {\n    if (value === undefined || value === null || value === '') return null;\n    const n = Number(value);\n    return Number.isFinite(n) ? n : null;\n}\n\nconst buyRate = numOrNull(d.buy_rate !== undefined ? d.buy_rate : d.buyRate);\nconst sellRate = numOrNull(d.sell_rate !== undefined ? d.sell_rate : d.sellRate);\nconst transactionFees = numOrNull(d.transaction_fees !== undefined ? d.transaction_fees : d.transactionFees);\nconst clientPercentage = numOrNull(d.client_percentage !== undefined ? d.client_percentage : d.clientPercentage);\nconst partnerPercentage = numOrNull(d.partner_percentage !== undefined ? d.partner_percentage : d.partnerPercentage);\n\nmsg.topic = `INSERT INTO ocpp_CSGO.Tariffs (type, buy_rate, sell_rate, transaction_fees, client_percentage, partner_percentage, peak_type, status, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, ?, NOW(), NOW())`;\nmsg.payload = [\n    d.type || '',\n    buyRate,\n    sellRate,\n    transactionFees,\n    clientPercentage,\n    partnerPercentage,\n    d.peak_type || d.peakType || null,\n    d.status || 'Active'\n];\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 1900,
        "wires": [["tariffs-post-mysql"]]
    },
    {
        "id": "tariffs-post-mysql",
        "type": "mysql",
        "z": "main-tab",
        "mydb": "mysql-db-config",
        "name": "",
        "x": 650,
        "y": 1900,
        "wires": [["tariffs-post-format"]]
    },
    {
        "id": "tariffs-post-format",
        "type": "function",
        "z": "main-tab",
        "name": "Format POST Response",
        "func": "if (msg.error) {\n    msg.statusCode = 500;\n    msg.payload = { success: false, message: \"Internal Server Error\", details: msg.error.message };\n    return msg;\n}\n\nmsg.statusCode = 201;\nmsg.payload = { success: true, message: \"Tariff created successfully\", insertId: msg.payload.insertId };\nreturn msg;",
        "outputs": 1,
        "x": 900,
        "y": 1900,
        "wires": [["tariffs-http-response"]]
    },
    {
        "id": "tariffs-put-in",
        "type": "http in",
        "z": "main-tab",
        "name": "PUT /api/v4/tariff",
        "url": "/api/v4/tariff",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 2000,
        "wires": [["tariffs-put-validate"]]
    },
    {
        "id": "tariffs-put-validate",
        "type": "function",
        "z": "main-tab",
        "name": "Validate Update",
        "func": "const id = msg.req.query.id;\nif (!id) {\n    msg.statusCode = 400;\n    msg.payload = { success: false, message: \"Tariff ID is required (use ?id={id})\" };\n    return null;\n}\n\nconst d = msg.payload || {};\n\nfunction numOrNull(value) {\n    if (value === undefined || value === null || value === '') return null;\n    const n = Number(value);\n    return Number.isFinite(n) ? n : null;\n}\n\nconst buyRate = d.buy_rate !== undefined ? numOrNull(d.buy_rate) : (d.buyRate !== undefined ? numOrNull(d.buyRate) : null);\nconst sellRate = d.sell_rate !== undefined ? numOrNull(d.sell_rate) : (d.sellRate !== undefined ? numOrNull(d.sellRate) : null);\nconst transactionFees = d.transaction_fees !== undefined ? numOrNull(d.transaction_fees) : (d.transactionFees !== undefined ? numOrNull(d.transactionFees) : null);\nconst clientPercentage = d.client_percentage !== undefined ? numOrNull(d.client_percentage) : (d.clientPercentage !== undefined ? numOrNull(d.clientPercentage) : null);\nconst partnerPercentage = d.partner_percentage !== undefined ? numOrNull(d.partner_percentage) : (d.partnerPercentage !== undefined ? numOrNull(d.partnerPercentage) : null);\n\nmsg.topic = `UPDATE ocpp_CSGO.Tariffs SET type=?, buy_rate=?, sell_rate=?, transaction_fees=?, client_percentage=?, partner_percentage=?, peak_type=?, status=?, updated_at=NOW() WHERE tariff_id=?`;\nmsg.payload = [\n    d.type !== undefined ? d.type : null,\n    buyRate,\n    sellRate,\n    transactionFees,\n    clientPercentage,\n    partnerPercentage,\n    d.peak_type !== undefined ? d.peak_type : (d.peakType !== undefined ? d.peakType : null),\n    d.status !== undefined ? d.status : null,\n    id\n];\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 2000,
        "wires": [["tariffs-put-mysql"]]
    },
    {
        "id": "tariffs-put-mysql",
        "type": "mysql",
        "z": "main-tab",
        "mydb": "mysql-db-config",
        "name": "",
        "x": 650,
        "y": 2000,
        "wires": [["tariffs-put-format"]]
    },
    {
        "id": "tariffs-put-format",
        "type": "function",
        "z": "main-tab",
        "name": "Format PUT Response",
        "func": "if (msg.error) {\n    msg.statusCode = 500;\n    msg.payload = { success: false, message: \"Internal Server Error\", details: msg.error.message };\n    return msg;\n}\n\nif (msg.payload.affectedRows === 0) {\n    msg.statusCode = 404;\n    msg.payload = { success: false, message: \"Tariff not found\" };\n    return msg;\n}\n\nmsg.statusCode = 200;\nmsg.payload = { success: true, message: \"Tariff updated successfully\" };\nreturn msg;",
        "outputs": 1,
        "x": 900,
        "y": 2000,
        "wires": [["tariffs-http-response"]]
    },
    {
        "id": "tariffs-delete-in",
        "type": "http in",
        "z": "main-tab",
        "name": "DELETE /api/v4/tariff",
        "url": "/api/v4/tariff",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 2100,
        "wires": [["tariffs-delete-validate"]]
    },
    {
        "id": "tariffs-delete-validate",
        "type": "function",
        "z": "main-tab",
        "name": "Validate Delete",
        "func": "const id = msg.req.query.id;\nif (!id) {\n    msg.statusCode = 400;\n    msg.payload = { success: false, message: \"Tariff ID is required (use ?id={id})\" };\n    return null;\n}\n\nmsg.topic = `DELETE FROM ocpp_CSGO.Tariffs WHERE tariff_id = ?`;\nmsg.payload = [id];\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 2100,
        "wires": [["tariffs-delete-mysql"]]
    },
    {
        "id": "tariffs-delete-mysql",
        "type": "mysql",
        "z": "main-tab",
        "mydb": "mysql-db-config",
        "name": "",
        "x": 650,
        "y": 2100,
        "wires": [["tariffs-delete-format"]]
    },
    {
        "id": "tariffs-delete-format",
        "type": "function",
        "z": "main-tab",
        "name": "Format DELETE Response",
        "func": "if (msg.error) {\n    msg.statusCode = 500;\n    msg.payload = { success: false, message: \"Internal Server Error\", details: msg.error.message };\n    return msg;\n}\n\nif (msg.payload.affectedRows === 0) {\n    msg.statusCode = 404;\n    msg.payload = { success: false, message: \"Tariff not found\" };\n    return msg;\n}\n\nmsg.statusCode = 200;\nmsg.payload = { success: true, message: \"Tariff deleted successfully\" };\nreturn msg;",
        "outputs": 1,
        "x": 900,
        "y": 2100,
        "wires": [["tariffs-http-response"]]
    },
    {
        "id": "tariffs-catch",
        "type": "catch",
        "z": "main-tab",
        "name": "Tariffs Catch",
        "scope": ["tariffs-get-in", "tariffs-post-in", "tariffs-put-in", "tariffs-delete-in"],
        "uncaught": false,
        "x": 150,
        "y": 2200,
        "wires": [["tariffs-error-handler"]]
    },
    {
        "id": "tariffs-error-handler",
        "type": "function",
        "z": "main-tab",
        "name": "Error Handler",
        "func": "msg.statusCode = 500;\nmsg.payload = { success: false, message: \"Internal Server Error\", details: msg.error ? msg.error.message : \"Unknown error\" };\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 2200,
        "wires": [["tariffs-http-response"]]
    },
    {
        "id": "mysql-db-config",
        "type": "MySQLdatabase",
        "name": "",
        "host": "ion-ocpp.cluster-c3o6qc26ias1.eu-west-1.rds.amazonaws.com",
        "port": "3306",
        "db": "ocpp_CSGO",
        "tz": "",
        "charset": "UTF8"
    }
]
