docs/notifications-flow-with-database.json
[
    {
        "id": "becd62f756461c70",
        "type": "http in",
        "z": "253add6a74e2ea05",
        "name": "POST /notifications/push",
        "url": "/api/v4/notifications/push",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 3100,
        "wires": [["38534fbb1048dbc6"]]
    },
    {
        "id": "38534fbb1048dbc6",
        "type": "function",
        "z": "253add6a74e2ea05",
        "name": "Store and broadcast notification",
        "func": "const body = msg.payload && typeof msg.payload === 'object' ? msg.payload : {};\nconst chargerId = body.chargerId != null ? String(body.chargerId) : '';\nconst online = Boolean(body.online);\nconst message = typeof body.message === 'string' ? body.message : (online ? 'Charger is online' : 'Charger is offline');\nconst id = 'n-' + Date.now() + '-' + Math.random().toString(36).slice(2);\nconst timestamp = body.timestamp || Date.now();\nconst level = online ? 'success' : 'info';\n\nlet list = global.get('chargerNotificationsList') || [];\nlist.push({ id, chargerId, online, message, timestamp, level });\nif (list.length > 200) list = list.slice(-200);\nglobal.set('chargerNotificationsList', list);\n\nmsg.payload = { success: true, id };\nmsg.notification = { id, chargerId, online, message, level, timestamp };\nmsg.statusCode = 200;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 3100,
        "wires": [["011204a111fe5fa3", "381d47a1ee681b63"]]
    },
    {
        "id": "011204a111fe5fa3",
        "type": "http response",
        "z": "253add6a74e2ea05",
        "name": "",
        "statusCode": "",
        "headers": {"Content-Type": "application/json", "Access-Control-Allow-Origin": "*"},
        "x": 750,
        "y": 3080,
        "wires": []
    },
    {
        "id": "381d47a1ee681b63",
        "type": "function",
        "z": "253add6a74e2ea05",
        "name": "Prepare DB INSERT",
        "func": "const n = msg.notification;\nif (!n || !n.id) return null;\nmsg.topic = \"INSERT INTO charger_notifications (id, charger_id, online, message, level, created_at) VALUES (?, ?, ?, ?, ?, ?)\";\nmsg.payload = [n.id, n.chargerId || '', n.online ? 1 : 0, n.message || '', n.level || 'info', n.timestamp];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 3160,
        "wires": [["fa78b23212935ac7"]]
    },
    {
        "id": "fa78b23212935ac7",
        "type": "mysql",
        "z": "253add6a74e2ea05",
        "mydb": "fd63a9e7fe57deda",
        "name": "",
        "x": 730,
        "y": 3160,
        "wires": [[]]
    },
    {
        "id": "fc8e8c732c63cac3",
        "type": "http in",
        "z": "253add6a74e2ea05",
        "name": "GET /api/v4/notifications",
        "url": "/api/v4/notifications",
        "method": "get",
        "x": 190,
        "y": 3260,
        "wires": [["7bc52968b293c1a6"]]
    },
    {
        "id": "7bc52968b293c1a6",
        "type": "function",
        "z": "253add6a74e2ea05",
        "name": "Prepare list query (with read status)",
        "func": "const q = (msg.req && msg.req.query) || {};\nconst raw = q.since != null && q.since !== '' ? Number(q.since) : 0;\nconst since = Number.isFinite(raw) ? raw : 0;\nconst userId = q.userId != null && q.userId !== '' ? String(q.userId).trim() : null;\n\nif (userId) {\n  msg.topic = \"SELECT n.id, n.charger_id AS chargerId, n.online, n.message, n.level, n.created_at AS timestamp, (r.read_at IS NOT NULL) AS `read`, r.read_at AS readAt FROM charger_notifications n LEFT JOIN user_notification_read r ON r.notification_id = n.id AND r.user_id = ? WHERE n.created_at >= ? ORDER BY n.created_at DESC LIMIT 200\";\n  msg.payload = [userId, since];\n} else {\n  msg.topic = \"SELECT id, charger_id AS chargerId, online, message, level, created_at AS timestamp FROM charger_notifications WHERE created_at >= ? ORDER BY created_at DESC LIMIT 200\";\n  msg.payload = [since];\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 3260,
        "wires": [["d79e8bf8e3a07b01"]]
    },
    {
        "id": "d79e8bf8e3a07b01",
        "type": "mysql",
        "z": "253add6a74e2ea05",
        "mydb": "fd63a9e7fe57deda",
        "name": "",
        "x": 740,
        "y": 3260,
        "wires": [["31b0701b4214f4f7"]]
    },
    {
        "id": "31b0701b4214f4f7",
        "type": "function",
        "z": "253add6a74e2ea05",
        "name": "Format list response",
        "func": "const rows = Array.isArray(msg.payload) ? msg.payload : [];\nconst data = rows.map(r => ({\n  id: r.id,\n  chargerId: r.chargerId,\n  online: r.online,\n  message: r.message,\n  level: r.level,\n  timestamp: r.timestamp,\n  read: r.read === true || r.read === 1,\n  readAt: r.readAt != null ? Number(r.readAt) : undefined\n}));\nmsg.payload = { success: true, data };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 3260,
        "wires": [["ffb0d66adb41c0f4"]]
    },
    {
        "id": "ffb0d66adb41c0f4",
        "type": "http response",
        "z": "253add6a74e2ea05",
        "name": "",
        "statusCode": "200",
        "headers": {"Content-Type": "application/json", "Access-Control-Allow-Origin": "*"},
        "x": 1210,
        "y": 3260,
        "wires": []
    },
    {
        "id": "8777c78304552738",
        "type": "http in",
        "z": "253add6a74e2ea05",
        "name": "POST /notifications/mark-read",
        "url": "/api/v4/notifications/mark-read",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 3380,
        "wires": [["e632d3148ef1eb43"]]
    },
    {
        "id": "e632d3148ef1eb43",
        "type": "function",
        "z": "253add6a74e2ea05",
        "name": "Prepare mark-read INSERT",
        "func": "let raw = (msg.req && msg.req.body != null) ? msg.req.body : msg.payload;\nif (typeof raw === 'string') { try { raw = JSON.parse(raw); } catch(e) { raw = {}; } }\nif (typeof raw !== 'object' || raw === null) raw = {};\nconst body = raw;\nconst notificationId = (body.notificationId || body.notification_id || '').toString().trim();\nconst userId = body.userId != null ? Number(body.userId) : (body.user_id != null ? Number(body.user_id) : NaN);\nif (!notificationId || !Number.isFinite(userId)) {\n  msg.statusCode = 400;\n  msg.payload = { success: false, message: 'notificationId and userId required' };\n  return msg;\n}\nconst readAt = Date.now();\nmsg.topic = \"INSERT INTO user_notification_read (user_id, notification_id, read_at) VALUES (?, ?, ?) ON DUPLICATE KEY UPDATE read_at = VALUES(read_at)\";\nmsg.payload = [userId, notificationId, readAt];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 3380,
        "wires": [["cbcd4d19cfb7c89a", "debug_mark_read_001"]]
    },
    {
        "id": "cbcd4d19cfb7c89a",
        "type": "switch",
        "z": "253add6a74e2ea05",
        "name": "Error?",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [{"t": "eq", "v": "400", "vt": "str"}],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 660,
        "y": 3380,
        "wires": [["c1f0c81e81dfa320"], ["bf35f212fac98992"]]
    },
    {
        "id": "bf35f212fac98992",
        "type": "mysql",
        "z": "253add6a74e2ea05",
        "mydb": "fd63a9e7fe57deda",
        "name": "",
        "x": 850,
        "y": 3340,
        "wires": [["f537a18bf62aca02"]]
    },
    {
        "id": "f537a18bf62aca02",
        "type": "function",
        "z": "253add6a74e2ea05",
        "name": "Mark-read response",
        "func": "msg.payload = { success: true, message: 'marked as read' };\nmsg.statusCode = 200;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 3320,
        "wires": [["c1f0c81e81dfa320"]]
    },
    {
        "id": "c1f0c81e81dfa320",
        "type": "http response",
        "z": "253add6a74e2ea05",
        "name": "",
        "statusCode": "",
        "headers": {"Content-Type": "application/json", "Access-Control-Allow-Origin": "*"},
        "x": 1200,
        "y": 3380,
        "wires": []
    },
    {
        "id": "f3bbe417330b307b",
        "type": "http in",
        "z": "253add6a74e2ea05",
        "name": "POST /notifications/mark-all-read",
        "url": "/api/v4/notifications/mark-all-read",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 3500,
        "wires": [["304abe5b7aa05551"]]
    },
    {
        "id": "304abe5b7aa05551",
        "type": "function",
        "z": "253add6a74e2ea05",
        "name": "Prepare mark-all-read",
        "func": "let raw = (msg.req && msg.req.body != null) ? msg.req.body : msg.payload;\nif (typeof raw === 'string') { try { raw = JSON.parse(raw); } catch(e) { raw = {}; } }\nif (typeof raw !== 'object' || raw === null) raw = {};\nconst body = raw;\nconst userId = body.userId != null ? Number(body.userId) : (body.user_id != null ? Number(body.user_id) : NaN);\nif (!Number.isFinite(userId)) {\n  msg.statusCode = 400;\n  msg.payload = { success: false, message: 'userId required' };\n  return msg;\n}\nconst readAt = Date.now();\nmsg.topic = \"INSERT INTO user_notification_read (user_id, notification_id, read_at) SELECT ?, sub.id, ? FROM (SELECT id FROM charger_notifications ORDER BY created_at DESC LIMIT 1000) AS sub ON DUPLICATE KEY UPDATE read_at = VALUES(read_at)\";\nmsg.payload = [userId, readAt];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 3500,
        "wires": [["40f1675dc4345e42", "debug_mark_all_001"]]
    },
    {
        "id": "40f1675dc4345e42",
        "type": "switch",
        "z": "253add6a74e2ea05",
        "name": "Error?",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [{"t": "eq", "v": "400", "vt": "str"}],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 690,
        "y": 3500,
        "wires": [["4bf1488904e0ff5d"], ["5969873fb79e5524"]]
    },
    {
        "id": "5969873fb79e5524",
        "type": "mysql",
        "z": "253add6a74e2ea05",
        "mydb": "fd63a9e7fe57deda",
        "name": "",
        "x": 880,
        "y": 3560,
        "wires": [["debug_mysql_markall_001", "b5226854af274046"]]
    },
    {
        "id": "debug_mysql_markall_001",
        "type": "debug",
        "z": "253add6a74e2ea05",
        "name": "Debug MySQL result (mark-all-read)",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "msg",
        "x": 1140,
        "y": 3560,
        "wires": []
    },
    {
        "id": "b5226854af274046",
        "type": "function",
        "z": "253add6a74e2ea05",
        "name": "Mark-all-read response",
        "func": "msg.payload = { success: true };\nmsg.statusCode = 200;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 3560,
        "wires": [["4bf1488904e0ff5d"]]
    },
    {
        "id": "4bf1488904e0ff5d",
        "type": "http response",
        "z": "253add6a74e2ea05",
        "name": "",
        "statusCode": "",
        "headers": {"Content-Type": "application/json", "Access-Control-Allow-Origin": "*"},
        "x": 1310,
        "y": 3480,
        "wires": []
    },
    {
        "id": "fd63a9e7fe57deda",
        "type": "MySQLdatabase",
        "name": "Lena's DB Connection",
        "host": "migrate.cluster-c3o6qc26ias1.eu-west-1.rds.amazonaws.com",
        "port": "3306",
        "db": "ocpp_CSGO",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "da997523d456ea6a",
        "type": "global-config",
        "env": [],
        "modules": {"node-red-node-mysql": "3.0.0"}
    },
    {
        "id": "catch_notif_001",
        "type": "catch",
        "z": "253add6a74e2ea05",
        "name": "Catch errors (notifications)",
        "scope": "flow",
        "uncaught": false,
        "x": 200,
        "y": 3620,
        "wires": [["format_error_resp_001"]]
    },
    {
        "id": "format_error_resp_001",
        "type": "function",
        "z": "253add6a74e2ea05",
        "name": "Format error response",
        "func": "const errMsg = msg.error && msg.error.message ? msg.error.message : (typeof msg.payload === 'string' ? msg.payload : 'Database or flow error');\nconst source = msg.error && msg.error.source ? msg.error.source : 'unknown';\nmsg.statusCode = 500;\nmsg.payload = { success: false, message: errMsg, _debug: { source } };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 3620,
        "wires": [["debug_errors_001", "c1f0c81e81dfa320"]]
    },
    {
        "id": "debug_errors_001",
        "type": "debug",
        "z": "253add6a74e2ea05",
        "name": "Debug errors",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 720,
        "y": 3620,
        "wires": []
    },
    {
        "id": "debug_mark_read_001",
        "type": "debug",
        "z": "253add6a74e2ea05",
        "name": "Debug mark-read (topic + payload)",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "msg",
        "x": 720,
        "y": 3360,
        "wires": []
    },
    {
        "id": "debug_mark_all_001",
        "type": "debug",
        "z": "253add6a74e2ea05",
        "name": "Debug mark-all-read (topic + payload)",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "msg",
        "x": 730,
        "y": 3500,
        "wires": []
    }
]
