docs/notifications-flow-bigint-import.json
[
  {
    "id": "2d6fe472b475d636",
    "type": "http in",
    "z": "253add6a74e2ea05",
    "name": "POST /notifications/push",
    "url": "/api/v4/notifications/push",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 410,
    "y": 3740,
    "wires": [["615f50377a3166c8"]]
  },
  {
    "id": "615f50377a3166c8",
    "type": "function",
    "z": "253add6a74e2ea05",
    "name": "Store and broadcast notification",
    "func": "let body = (msg.req && msg.req.body != null) ? msg.req.body : msg.payload;\nif (typeof body === 'string') { try { body = JSON.parse(body); } catch(e) { body = {}; } }\nif (typeof body !== 'object' || body === null) body = {};\nconst chargerId = body.chargerId != null ? String(body.chargerId) : '';\nconst online = Boolean(body.online);\nconst message = typeof body.message === 'string' ? body.message : (online ? 'Charger is online' : 'Charger is offline');\nconst id = 'n-' + Date.now() + '-' + Math.random().toString(36).slice(2);\nconst level = online ? 'success' : 'info';\nconst timestamp = body.timestamp != null ? Number(body.timestamp) : Date.now();\n\nlet list = global.get('chargerNotificationsList') || [];\nlist.push({ id, chargerId, online, message, level, createdAt: new Date(timestamp).toISOString() });\nif (list.length > 200) list = list.slice(-200);\nglobal.set('chargerNotificationsList', list);\n\nmsg.payload = { success: true, id };\nmsg.notification = { id, chargerId, online, message, level, timestamp };\nmsg.statusCode = 200;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 690,
    "y": 3740,
    "wires": [["1cd9e8fbf330d448", "ada2d0abe364173b"]]
  },
  {
    "id": "1cd9e8fbf330d448",
    "type": "http response",
    "z": "253add6a74e2ea05",
    "name": "",
    "statusCode": "",
    "headers": { "Content-Type": "application/json", "Access-Control-Allow-Origin": "*" },
    "x": 970,
    "y": 3720,
    "wires": []
  },
  {
    "id": "ada2d0abe364173b",
    "type": "function",
    "z": "253add6a74e2ea05",
    "name": "Prepare DB INSERT (BIGINT epoch ms)",
    "func": "const n = msg.notification;\nif (!n || !n.id) return null;\nconst created_at_ms = n.timestamp != null && Number.isFinite(n.timestamp) ? Number(n.timestamp) : Date.now();\nconst sql = \"INSERT INTO ocpp_CSGO.charger_notifications (id, charger_id, online, message, level, created_at) VALUES (?, ?, ?, ?, ?, ?)\";\nmsg.topic = sql;\nmsg.sql = sql;\nmsg.payload = [n.id, n.chargerId || '', n.online ? 1 : 0, n.message || '', n.level || 'info', created_at_ms];\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 740,
    "y": 3800,
    "wires": [["82b59078258e0b77"]]
  },
  {
    "id": "82b59078258e0b77",
    "type": "mysql",
    "z": "253add6a74e2ea05",
    "mydb": "fd63a9e7fe57deda",
    "name": "",
    "x": 1100,
    "y": 3780,
    "wires": [[]]
  },
  {
    "id": "4c7307389e44dd5c",
    "type": "http in",
    "z": "253add6a74e2ea05",
    "name": "GET /api/v4/notifications",
    "url": "/api/v4/notifications",
    "method": "get",
    "x": 410,
    "y": 3900,
    "wires": [["57b0819879629e3c"]]
  },
  {
    "id": "57b0819879629e3c",
    "type": "function",
    "z": "253add6a74e2ea05",
    "name": "Prepare list query (BIGINT since + readable)",
    "func": "const q = (msg.req && msg.req.query) || {};\nconst userId = (q.userId != null && String(q.userId).trim() !== '') ? String(q.userId).trim() : null;\nconst sinceRaw = (q.since != null) ? String(q.since).trim() : '';\nconst sinceNum = sinceRaw !== '' && Number.isFinite(Number(sinceRaw)) ? Number(sinceRaw) : 0;\n\nconst selBase = \"n.id, n.charger_id AS chargerId, n.online, n.message, n.level, n.created_at AS timestamp, DATE_FORMAT(FROM_UNIXTIME(n.created_at/1000), '%Y-%m-%d %H:%i:%s') AS createdAt\";\nconst selWithRead = selBase + \", (r.read_at IS NOT NULL) AS \\`read\\`, DATE_FORMAT(FROM_UNIXTIME(r.read_at/1000), '%Y-%m-%d %H:%i:%s') AS readAt\";\n\nif (userId) {\n  msg.topic = \"SELECT \" + selWithRead + \" FROM ocpp_CSGO.charger_notifications n LEFT JOIN ocpp_CSGO.user_notification_read r ON r.notification_id = n.id AND r.user_id = ? WHERE n.created_at >= ? ORDER BY n.created_at DESC LIMIT 200\";\n  msg.payload = [userId, sinceNum];\n} else {\n  msg.topic = \"SELECT \" + selBase + \" FROM ocpp_CSGO.charger_notifications n WHERE n.created_at >= ? ORDER BY n.created_at DESC LIMIT 200\";\n  msg.payload = [sinceNum];\n}\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 800,
    "y": 3900,
    "wires": [["f1d8bde74b8d2263"]]
  },
  {
    "id": "f1d8bde74b8d2263",
    "type": "mysql",
    "z": "253add6a74e2ea05",
    "mydb": "fd63a9e7fe57deda",
    "name": "",
    "x": 960,
    "y": 3860,
    "wires": [["b5f77538c30e4c20"]]
  },
  {
    "id": "b5f77538c30e4c20",
    "type": "function",
    "z": "253add6a74e2ea05",
    "name": "Format list response",
    "func": "const rows = Array.isArray(msg.payload) ? msg.payload : [];\nconst data = rows.map(r => ({\n  id: r.id,\n  chargerId: r.chargerId,\n  online: r.online === 1 || r.online === true,\n  message: r.message,\n  level: r.level,\n  timestamp: r.timestamp,\n  createdAt: r.createdAt || (r.timestamp != null ? new Date(r.timestamp).toISOString().slice(0,19).replace('T',' ') : null),\n  read: r.read === 1 || r.read === true,\n  readAt: r.readAt || null\n}));\nmsg.payload = { success: true, data };\nmsg.statusCode = 200;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1190,
    "y": 3900,
    "wires": [["b045105c1612c079"]]
  },
  {
    "id": "b045105c1612c079",
    "type": "http response",
    "z": "253add6a74e2ea05",
    "name": "",
    "statusCode": "200",
    "headers": { "Content-Type": "application/json", "Access-Control-Allow-Origin": "*" },
    "x": 1430,
    "y": 3900,
    "wires": []
  },
  {
    "id": "6fe2e037ce063eda",
    "type": "http in",
    "z": "253add6a74e2ea05",
    "name": "POST /notifications/mark-read",
    "url": "/api/v4/notifications/mark-read",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 420,
    "y": 4020,
    "wires": [["935d1d27a72db1d2"]]
  },
  {
    "id": "935d1d27a72db1d2",
    "type": "function",
    "z": "253add6a74e2ea05",
    "name": "Prepare mark-read (BIGINT epoch ms)",
    "func": "let raw = (msg.req && msg.req.body != null) ? msg.req.body : msg.payload;\nif (typeof raw === 'string') { try { raw = JSON.parse(raw); } catch(e) { raw = {}; } }\nif (typeof raw !== 'object' || raw === null) raw = {};\nconst body = raw;\nconst notificationId = (body.notificationId || body.notification_id || '').toString().trim();\nconst userId = body.userId != null ? Number(body.userId) : (body.user_id != null ? Number(body.user_id) : NaN);\nif (!notificationId || !Number.isFinite(userId)) {\n  msg.statusCode = 400;\n  msg.payload = { success: false, message: 'notificationId and userId required' };\n  return msg;\n}\nconst read_at_ms = Date.now();\nmsg.topic = \"INSERT INTO ocpp_CSGO.user_notification_read (user_id, notification_id, read_at) VALUES (?, ?, ?) ON DUPLICATE KEY UPDATE read_at = VALUES(read_at)\";\nmsg.payload = [userId, notificationId, read_at_ms];\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 720,
    "y": 4020,
    "wires": [["8dc99c22a4bfb6f9", "1424564e77daa4a5"]]
  },
  {
    "id": "8dc99c22a4bfb6f9",
    "type": "switch",
    "z": "253add6a74e2ea05",
    "name": "Error?",
    "property": "statusCode",
    "propertyType": "msg",
    "rules": [{ "t": "eq", "v": "400", "vt": "str" }, { "t": "else" }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 850,
    "y": 3980,
    "wires": [["d9df990d27ee8c97"], ["bb445a32c71ea4a5"]]
  },
  {
    "id": "bb445a32c71ea4a5",
    "type": "mysql",
    "z": "253add6a74e2ea05",
    "mydb": "fd63a9e7fe57deda",
    "name": "",
    "x": 1060,
    "y": 3960,
    "wires": [["ede9db875097fde2"]]
  },
  {
    "id": "ede9db875097fde2",
    "type": "function",
    "z": "253add6a74e2ea05",
    "name": "Mark-read response",
    "func": "msg.payload = { success: true, message: 'marked as read' };\nmsg.statusCode = 200;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1340,
    "y": 3960,
    "wires": [["d9df990d27ee8c97"]]
  },
  {
    "id": "d9df990d27ee8c97",
    "type": "http response",
    "z": "253add6a74e2ea05",
    "name": "",
    "statusCode": "",
    "headers": { "Content-Type": "application/json", "Access-Control-Allow-Origin": "*" },
    "x": 1420,
    "y": 4020,
    "wires": []
  },
  {
    "id": "5c75ed4249d8df41",
    "type": "http in",
    "z": "253add6a74e2ea05",
    "name": "POST /notifications/mark-all-read",
    "url": "/api/v4/notifications/mark-all-read",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 430,
    "y": 4140,
    "wires": [["ccde25b499055bb2"]]
  },
  {
    "id": "ccde25b499055bb2",
    "type": "function",
    "z": "253add6a74e2ea05",
    "name": "Prepare mark-all-read (BIGINT epoch ms)",
    "func": "let raw = (msg.req && msg.req.body != null) ? msg.req.body : msg.payload;\nif (typeof raw === 'string') { try { raw = JSON.parse(raw); } catch(e) { raw = {}; } }\nif (typeof raw !== 'object' || raw === null) raw = {};\nconst body = raw;\nconst userId = body.userId != null ? Number(body.userId) : (body.user_id != null ? Number(body.user_id) : NaN);\nif (!Number.isFinite(userId)) {\n  msg.statusCode = 400;\n  msg.payload = { success: false, message: 'userId required' };\n  return msg;\n}\nconst read_at_ms = Date.now();\nmsg.topic = \"INSERT INTO ocpp_CSGO.user_notification_read (user_id, notification_id, read_at) SELECT ?, n.id, ? FROM ocpp_CSGO.charger_notifications n ORDER BY n.created_at DESC LIMIT 1000 ON DUPLICATE KEY UPDATE read_at = VALUES(read_at)\";\nmsg.payload = [userId, read_at_ms];\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 740,
    "y": 4140,
    "wires": [["c9fb91ec568975e4", "b9bd6dc584594762"]]
  },
  {
    "id": "c9fb91ec568975e4",
    "type": "switch",
    "z": "253add6a74e2ea05",
    "name": "Error?",
    "property": "statusCode",
    "propertyType": "msg",
    "rules": [{ "t": "eq", "v": "400", "vt": "str" }, { "t": "else" }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 970,
    "y": 4100,
    "wires": [["0c37db6a90c45729"], ["cca64a5af298c675"]]
  },
  {
    "id": "cca64a5af298c675",
    "type": "mysql",
    "z": "253add6a74e2ea05",
    "mydb": "fd63a9e7fe57deda",
    "name": "",
    "x": 1100,
    "y": 4200,
    "wires": [["1e8921a7f702716a", "d33d911503119667"]]
  },
  {
    "id": "1e8921a7f702716a",
    "type": "debug",
    "z": "253add6a74e2ea05",
    "name": "Debug MySQL result (mark-all-read)",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "true",
    "targetType": "msg",
    "x": 1390,
    "y": 4260,
    "wires": []
  },
  {
    "id": "d33d911503119667",
    "type": "function",
    "z": "253add6a74e2ea05",
    "name": "Mark-all-read response",
    "func": "msg.payload = { success: true };\nmsg.statusCode = 200;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1350,
    "y": 4200,
    "wires": [["0c37db6a90c45729"]]
  },
  {
    "id": "0c37db6a90c45729",
    "type": "http response",
    "z": "253add6a74e2ea05",
    "name": "",
    "statusCode": "",
    "headers": { "Content-Type": "application/json", "Access-Control-Allow-Origin": "*" },
    "x": 1530,
    "y": 4120,
    "wires": []
  },
  {
    "id": "c4997f3eaf02837e",
    "type": "catch",
    "z": "253add6a74e2ea05",
    "name": "Catch errors (notifications)",
    "scope": ["82b59078258e0b77", "f1d8bde74b8d2263", "bb445a32c71ea4a5", "cca64a5af298c675"],
    "uncaught": false,
    "x": 420,
    "y": 4260,
    "wires": [["f56f70458dff421b"]]
  },
  {
    "id": "f56f70458dff421b",
    "type": "function",
    "z": "253add6a74e2ea05",
    "name": "Format error response",
    "func": "const errMsg = msg.error && msg.error.message ? msg.error.message : (typeof msg.payload === 'string' ? msg.payload : 'Database or flow error');\nconst source = msg.error && msg.error.source ? msg.error.source : 'unknown';\nmsg.statusCode = 500;\nmsg.payload = { success: false, message: errMsg, _debug: { source } };\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 680,
    "y": 4260,
    "wires": [["1a8499d5d19a9686", "d9df990d27ee8c97"]]
  },
  {
    "id": "1a8499d5d19a9686",
    "type": "debug",
    "z": "253add6a74e2ea05",
    "name": "Debug errors",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 940,
    "y": 4260,
    "wires": []
  },
  {
    "id": "1424564e77daa4a5",
    "type": "debug",
    "z": "253add6a74e2ea05",
    "name": "Debug mark-read (topic + payload)",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "true",
    "targetType": "msg",
    "x": 1130,
    "y": 4040,
    "wires": []
  },
  {
    "id": "b9bd6dc584594762",
    "type": "debug",
    "z": "253add6a74e2ea05",
    "name": "Debug mark-all-read (topic + payload)",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "true",
    "targetType": "msg",
    "x": 1200,
    "y": 4140,
    "wires": []
  },
  {
    "id": "fd63a9e7fe57deda",
    "type": "MySQLdatabase",
    "name": "Lena's DB Connection",
    "host": "migrate.cluster-c3o6qc26ias1.eu-west-1.rds.amazonaws.com",
    "port": "3306",
    "db": "ocpp_CSGO",
    "tz": "",
    "charset": "UTF8"
  },
  {
    "id": "fda3bc6e3f588d17",
    "type": "global-config",
    "env": [],
    "modules": { "node-red-node-mysql": "3.0.0" }
  }
]
